<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>
        {Stl.SiteName}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="{Stl.SiteUrl}/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="{Stl.SiteUrl}/css/iconfont.css" type="text/css" rel="stylesheet" />
    <link href="{Stl.SiteUrl}/css/common.css" type="text/css" rel="stylesheet" />
    <link href="{Stl.SiteUrl}/css/swiper.min.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="{Stl.SiteUrl}/js/jquery.min.js"></script>
    <script type="text/javascript" src="{Stl.SiteUrl}/js/swiper.min.js"></script>
    <script type="text/javascript" src="{Stl.SiteUrl}/js/js.js"></script>
    <link rel='stylesheet' id='font-awesome-four-css' href='/css/font-awesome.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='style-css' href='{stl.siteurl}/css/style.css' type='text/css' media='all' />
</head>
<body class="home blog">
    <!--Logo+导航+搜索-->
    <stl:include file="/include/header.html"></stl:include>
    <div class="clearfix"></div>


    <div class="maincon">
        <stl:include file="/include/banner.html"></stl:include>
        <div class="container neicon">
            <div class="row">
                <stl:include file="/include/left.html"></stl:include>
                <div class="col-md-9">
                    <div class="listcon">
                        <stl:include file="/include/location.html"></stl:include>
                        <stl:pageContents pageNum="10" order="AddDate">
                            <div class="download">
                                <div class="downloadlistpart">
                                    <h1>
                                        <stl:a>
                                            <stl:content type="Title" wordNum="45" ellipsis="..."></stl:content>
                                        </stl:a>
                                    </h1>
                                    <div class="downloadtime">
                                        来源: <stl:content type="source"></stl:content>&emsp;
                                        作者: <stl:content type="author"></stl:content>&emsp;
                                        阅读次数: <stl:content type="hits"></stl:content>&emsp;
                                        发布时间: <stl:content type="AddDate" formatString="yyyy-MM-dd"></stl:content>
                                    </div>
                                </div>
                            </div>
                        </stl:pageContents>
                        <div class="page_navi text-center">
                            <stl:pageItems autoHide="true">
                                <stl:pageItem type="PreviousPage">
                                    <stl:yes>
                                        <a href="{Current.Url}" class="prev">« 上一页</a>
                                    </stl:yes>
                                    <stl:no>
                                        <a href="javascript:;" class="prev">« 上一页</a>
                                    </stl:no>
                                </stl:pageItem>

                                <stl:pageItem type="PageNavigation" listNum="5">
                                    <stl:yes>
                                        <a href="{Current.Url}">{Current.Num}</a>
                                    </stl:yes>
                                    <stl:no>
                                        <a href="javascript:;" class="current">{Current.Num}</a>
                                    </stl:no>
                                </stl:pageItem>

                                <stl:pageItem type="NextPage">
                                    <stl:yes>
                                        <a href="{Current.Url}" class="next">下一页 »</a>
                                    </stl:yes>
                                    <stl:no>
                                        <a href="javascript:;" class="next">下一页 »</a>
                                    </stl:no>
                                </stl:pageItem>
                            </stl:pageItems>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <stl:include file="/include/footer.html"></stl:include>
</body>
</html>
