<!DOCTYPE html>
<html lang="zh-CN">
<stl:include file="/include/head.html"></stl:include>
<body style="background-color:#fff">
    <!--Logo+导航+搜索-->
    <stl:include file="/include/header.html"></stl:include>
    <div class="clearfix"></div>

    <!--轮播图-->
    <div id="slideBox" class="slideBox underslideBox">
        <div class="hd">
            <ul>
                <stl:contents channelIndex="首页轮播图" totalNum="10" isRecommend="true">
                    <li></li>
                </stl:contents>
            </ul>
        </div>
        <div class="bd underhd">
            <ul>
                <stl:contents channelIndex="首页轮播图" totalNum="10" isRecommend="true">
                    <li>
                        <stl:if type="linkUrl" op="Empty">
                            <stl:yes>
                                <stl:if type="content" op="Empty">
                                    <stl:yes>
                                        <a href="javascript:;"><img src="{Content.ImageUrl}"></a>
                                    </stl:yes>
                                    <stl:no>
                                        <stl:a><img src="{Content.ImageUrl}"></stl:a>
                                    </stl:no>
                                </stl:if>
                            </stl:yes>
                            <stl:no>
                                <stl:a target="_blank"><img src="{Content.ImageUrl}"></stl:a>
                            </stl:no>
                        </stl:if>
                    </li>
                </stl:contents>
            </ul>
        </div>
        <a class="prev" href="javascript:void(0)"></a>
        <a class="next" href="javascript:void(0)"></a>
    </div>

    <div id="vm" v-cloak>
        <!--头条新闻-->
        <div class="contentpart">
            <div class="container">
                <div class="parttitle text-center">
                    <h2>头条新闻</h2>
                </div>
                <div class="row m-t-40">
                    <div class="col-md-3" v-for="news in headlineNews">
                        <div class="youshipart text-center">
                            <a :href="news.navigationUrl" target="_blank"><img :src="news.imageUrl ? news.imageUrl : '/images/thumbnail.png'"></a>
                            <a :href="news.navigationUrl" target="_blank"><h3>{{news.title}}</h3></a>
                            <p>{{news.summary}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--公司介绍-->
        <div class="contentpart" style="background:#d8d8d8 url({stl.siteurl}/images/bg.jpg) no-repeat center center fixed !important;">
            <div class="container">
                <div class="indexabout text-center">
                    <stl:channels channelIndex="公司文化">
                        <stl:if type="channelIndex" op="Equals" value="和文化">
                            <stl:yes>
                                <stl:contents channelIndex="和文化" totalNum="1">
                                    <h4>公司文化</h4>
                                    <h2><stl:content type="SubTitle"></stl:content></h2>
                                    <p><stl:content type="Summary" wordNum="100"></stl:content></p>
                                </stl:contents>
                            </stl:yes>
                        </stl:if>
                    </stl:channels>
                </div>
                <div class="indexaboutLinks btns">
                    <stl:channels channelIndex="公司文化" groupChannel="公司文化模块" totalNum="5">
                        <stl:a><stl:channel></stl:channel></stl:a>
                    </stl:channels>
                </div>
                <div class="indexaboutLinks">
                    <div class="text-right"><stl:a channelIndex="公司文化" style="margin-right:20px">查看更多</stl:a></div>
                </div>
            </div>
        </div>

        <!--头条聚集-->
        <div class="contentpart" v-if="headlineNews_focus && headlineNews_focus.length>0">
            <div class="container">
                <div class="parttitle text-center">
                    <h2>头条聚焦</h2>
                </div>
                <div class="productpart m-t-40">
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active in">
                            <div class="row">
                                <div class="col-md-3 col-xs-6" v-for="(news,index) in headlineNews_focus" v-if="index<4">
                                    <div class="propart">
                                        <div class="proimg">
                                            <a :href="news.navigationUrl" target="_blank">
                                                <img width="260" height="160" :src="news.imageUrl ? news.imageUrl : '/images/thumbnail.png'" class="attachment-product-thumb size-product-thumb wp-post-image" :alt="news.title" />
                                            </a>
                                        </div>
                                        <a :href="news.navigationUrl" class="indexprotit" target="_blank">{{news.title}}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-t-20" v-if="headlineNews_focus && headlineNews_focus.length>=8">
                                <div class="col-md-3 col-xs-6" v-for="(news,index) in headlineNews_focus" v-if="index>3">
                                    <div class="propart">
                                        <div class="proimg">
                                            <a :href="news.navigationUrl" target="_blank">
                                                <img width="260" height="160" :src="news.imageUrl ? news.imageUrl : '/images/thumbnail.png'" class="attachment-product-thumb size-product-thumb wp-post-image" :alt="news.title" />
                                            </a>
                                        </div>
                                        <a :href="news.navigationUrl" class="indexprotit" target="_blank">{{news.title}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--公司公告-->
        <div class="contentpart announcement" style="background:#FFF;">
            <div class="container">
                <h3>公司公告</h3>
                <div class="row">
                    <div class="col-md-6" style="padding-right:35px;">
                        <ul>
                            <stl:contents channelIndex="公司公告" scope="all" totalNum="5">
                                <li>
                                    <div class="title"><stl:a title="{Content.title}"><stl:content type="title"></stl:content></stl:a></div>
                                    <div class="info">
                                        <icon class="fa fa-calendar"></icon> <stl:content type="addDate"></stl:content>&emsp;
                                        <stl:if type="author" op="NotEmpty">
                                            <stl:yes>
                                                <icon class="fa fa-edit"></icon> <stl:content type="author"></stl:content>&emsp;
                                            </stl:yes>
                                        </stl:if>
                                        <stl:if type="source" op="NotEmpty">
                                            <stl:yes>
                                                <icon class="fa fa-group"></icon> <stl:content type="source"></stl:content>&emsp;
                                            </stl:yes>
                                        </stl:if>
                                        <icon class="fa fa-hand-o-up"></icon> <stl:content type="hits"></stl:content>
                                    </div>
                                </li>
                            </stl:contents>
                        </ul>
                    </div>
                    <div class="col-md-6" style="padding-left:35px;">
                        <ul>
                            <stl:contents channelIndex="公司公告" scope="all" startNum="6" totalNum="5">
                                <li>
                                    <div class="title"><stl:a title="{Content.title}"><stl:content type="title"></stl:content></stl:a></div>
                                    <div class="info">
                                        <icon class="fa fa-calendar"></icon> <stl:content type="addDate"></stl:content>&emsp;
                                        <stl:if type="author" op="NotEmpty">
                                            <stl:yes>
                                                <icon class="fa fa-edit"></icon> <stl:content type="author"></stl:content>&emsp;
                                            </stl:yes>
                                        </stl:if>
                                        <stl:if type="source" op="NotEmpty">
                                            <stl:yes>
                                                <icon class="fa fa-group"></icon> <stl:content type="source"></stl:content>&emsp;
                                            </stl:yes>
                                        </stl:if>
                                        <icon class="fa fa-hand-o-up"></icon> <stl:content type="hits"></stl:content>
                                    </div>
                                </li>
                            </stl:contents>
                        </ul>
                        <div class="more"><stl:a channelIndex="公司公告">更多</stl:a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--大屏幕实时数据-->
    <div id="charts" class="contentpart" style="visibility:hidden" v-cloak>
        <div class="container">
            <div class="indexnews">
                <div id="slideBox1" class="slideBox1">
                    <div class="bd">
                        <ul>
                            <li>
                                <h2>发电机组实时运行功率</h2>
                                <div class="chart" id="chart1">
                                </div>
                            </li>
                            <li style="padding:65px 80px">
                                <div class="portlet box red">
                                    <div class="portlet-title">
                                        <div class="caption"><i class="fa fa-cogs"></i>发电机组发电量统计</div>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="table-scrollable">
                                            <table class="table table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>一号机组</th>
                                                        <th>二号机组</th>
                                                        <th>三号机组</th>
                                                        <th>四号机组</th>
                                                        <th>五号机组</th>
                                                        <th>六号机组</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>日发电量</td>
                                                        <td v-for="item in chart2.daily">{{item}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>周发电量</td>
                                                        <td v-for="item in chart2.weekly">{{item}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>月发电量</td>
                                                        <td v-for="item in chart2.monthly">{{item}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>年发电量</td>
                                                        <td v-for="item in chart2.annual">{{item}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li style="padding:65px 80px">
                                <div class="portlet box purple">
                                    <div class="portlet-title">
                                        <div class="caption"><i class="fa fa-cogs"></i>发电机组发电量汇总</div>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="table-scrollable">
                                            <table class="table table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>全厂汇总</th>
                                                        <th>一期汇总</th>
                                                        <th>二期汇总</th>
                                                        <th>三期汇总</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>日发电量</td>
                                                        <td v-for="item in chart3.daily">{{item}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>周发电量</td>
                                                        <td v-for="item in chart3.weekly">{{item}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>月发电量</td>
                                                        <td v-for="item in chart3.monthly">{{item}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>年发电量</td>
                                                        <td v-for="item in chart3.annual">{{item}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li style="padding:65px 80px">
                                <div class="portlet box yellow">
                                    <div class="portlet-title">
                                        <div class="caption"><i class="fa fa-cogs"></i>发电机组环保数据</div>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="table-scrollable">
                                            <table class="table table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>一号机组</th>
                                                        <th>二号机组</th>
                                                        <th>三号机组</th>
                                                        <th>四号机组</th>
                                                        <th>五号机组</th>
                                                        <th>六号机组</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>So2浓度</td>
                                                        <td v-for="item in chart4.So2">{{item}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Nox浓度</td>
                                                        <td v-for="item in chart4.Nox">{{item}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>烟尘浓度</td>
                                                        <td v-for="item in chart4.Dust">{{item}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li style="padding:65px 80px">
                                <div class="portlet box blue">
                                    <div class="portlet-title">
                                        <div class="caption"><i class="fa fa-cogs"></i>光伏发电生产信息</div>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="table-scrollable">
                                            <table class="table table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>发电量</th>
                                                        <th>总辐射值</th>
                                                        <th>等效利用小时</th>
                                                        <th>厂用电率</th>
                                                        <th>箱变投入率</th>
                                                        <th>逆变投入率</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>昨日</td>
                                                        <td>{{chart5.Yesterday.Power}}</td>
                                                        <td>{{chart5.Yesterday.Radiation}}</td>
                                                        <td>{{chart5.Yesterday.EquivalentUse}}</td>
                                                        <td>{{chart5.Yesterday.InternalUsageRate}}</td>
                                                        <td>{{chart5.Yesterday.YbmRate}}</td>
                                                        <td>{{chart5.Yesterday.InvRate}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>本周</td>
                                                        <td>{{chart5.Weekly.Power}}</td>
                                                        <td>{{chart5.Weekly.Radiation}}</td>
                                                        <td>{{chart5.Weekly.EquivalentUse}}</td>
                                                        <td>{{chart5.Weekly.InternalUsageRate}}</td>
                                                        <td>{{chart5.Weekly.YbmRate}}</td>
                                                        <td>{{chart5.Weekly.InvRate}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>本月</td>
                                                        <td>{{chart5.Monthly.Power}}</td>
                                                        <td>{{chart5.Monthly.Radiation}}</td>
                                                        <td>{{chart5.Monthly.EquivalentUse}}</td>
                                                        <td>{{chart5.Monthly.InternalUsageRate}}</td>
                                                        <td>{{chart5.Monthly.YbmRate}}</td>
                                                        <td>{{chart5.Monthly.InvRate}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>年度</td>
                                                        <td>{{chart5.Annual.Power}}</td>
                                                        <td>{{chart5.Annual.Radiation}}</td>
                                                        <td>{{chart5.Annual.EquivalentUse}}</td>
                                                        <td>{{chart5.Annual.InternalUsageRate}}</td>
                                                        <td>{{chart5.Annual.YbmRate}}</td>
                                                        <td>{{chart5.Annual.InvRate}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li style="padding:65px 80px">
                                <div class="portlet box green">
                                    <div class="portlet-title">
                                        <div class="caption"><i class="fa fa-cogs"></i>焦岗湖光伏发电生产信息</div>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="table-scrollable">
                                            <table class="table table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>发电量</th>
                                                        <th>总辐射值</th>
                                                        <th>等效利用小时</th>
                                                        <th>厂用电率</th>
                                                        <th>箱变投入率</th>
                                                        <th>逆变投入率</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>昨日</td>
                                                        <td>{{chart6.Yesterday.Power}}</td>
                                                        <td>{{chart6.Yesterday.Radiation}}</td>
                                                        <td>{{chart6.Yesterday.EquivalentUse}}</td>
                                                        <td>{{chart6.Yesterday.InternalUsageRate}}</td>
                                                        <td>{{chart6.Yesterday.YbmRate}}</td>
                                                        <td>{{chart6.Yesterday.InvRate}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>本周</td>
                                                        <td>{{chart6.Weekly.Power}}</td>
                                                        <td>{{chart6.Weekly.Radiation}}</td>
                                                        <td>{{chart6.Weekly.EquivalentUse}}</td>
                                                        <td>{{chart6.Weekly.InternalUsageRate}}</td>
                                                        <td>{{chart6.Weekly.YbmRate}}</td>
                                                        <td>{{chart6.Weekly.InvRate}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>本月</td>
                                                        <td>{{chart6.Monthly.Power}}</td>
                                                        <td>{{chart6.Monthly.Radiation}}</td>
                                                        <td>{{chart6.Monthly.EquivalentUse}}</td>
                                                        <td>{{chart6.Monthly.InternalUsageRate}}</td>
                                                        <td>{{chart6.Monthly.YbmRate}}</td>
                                                        <td>{{chart6.Monthly.InvRate}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>年度</td>
                                                        <td>{{chart6.Annual.Power}}</td>
                                                        <td>{{chart6.Annual.Radiation}}</td>
                                                        <td>{{chart6.Annual.EquivalentUse}}</td>
                                                        <td>{{chart6.Annual.InternalUsageRate}}</td>
                                                        <td>{{chart6.Annual.YbmRate}}</td>
                                                        <td>{{chart6.Annual.InvRate}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li style="padding:65px 80px">
                                <div class="portlet box red">
                                    <div class="portlet-title">
                                        <div class="caption"><i class="fa fa-cogs"></i>施家湖光伏发电生产信息</div>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="table-scrollable">
                                            <table class="table table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>发电量</th>
                                                        <th>总辐射值</th>
                                                        <th>等效利用小时</th>
                                                        <th>厂用电率</th>
                                                        <th>箱变投入率</th>
                                                        <th>逆变投入率</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>昨日</td>
                                                        <td>{{chart7.Yesterday.Power}}</td>
                                                        <td>{{chart7.Yesterday.Radiation}}</td>
                                                        <td>{{chart7.Yesterday.EquivalentUse}}</td>
                                                        <td>{{chart7.Yesterday.InternalUsageRate}}</td>
                                                        <td>{{chart7.Yesterday.YbmRate}}</td>
                                                        <td>{{chart7.Yesterday.InvRate}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>本周</td>
                                                        <td>{{chart7.Weekly.Power}}</td>
                                                        <td>{{chart7.Weekly.Radiation}}</td>
                                                        <td>{{chart7.Weekly.EquivalentUse}}</td>
                                                        <td>{{chart7.Weekly.InternalUsageRate}}</td>
                                                        <td>{{chart7.Weekly.YbmRate}}</td>
                                                        <td>{{chart7.Weekly.InvRate}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>本月</td>
                                                        <td>{{chart7.Monthly.Power}}</td>
                                                        <td>{{chart7.Monthly.Radiation}}</td>
                                                        <td>{{chart7.Monthly.EquivalentUse}}</td>
                                                        <td>{{chart7.Monthly.InternalUsageRate}}</td>
                                                        <td>{{chart7.Monthly.YbmRate}}</td>
                                                        <td>{{chart7.Monthly.InvRate}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>年度</td>
                                                        <td>{{chart7.Annual.Power}}</td>
                                                        <td>{{chart7.Annual.Radiation}}</td>
                                                        <td>{{chart7.Annual.EquivalentUse}}</td>
                                                        <td>{{chart7.Annual.InternalUsageRate}}</td>
                                                        <td>{{chart7.Annual.YbmRate}}</td>
                                                        <td>{{chart7.Annual.InvRate}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <h2>发电机组可靠性</h2>
                                <div class="chart" id="chart8">
                                </div>
                            </li>
                        </ul>
                    </div>
                    <a class="prev" href="javascript:void(0)"></a> <a class="next" href="javascript:void(0)"></a>
                </div>
            </div>
        </div>
    </div>

    <!--报刊阅览-->
    <div class="contentpart" style="background:#333">
        <div class="container">
            <div class="parttitle text-center">
                <h2 style="color:#fff">报刊阅览</h2>
            </div>
            <div class="indexcase m-t-40">
                <div class="row">
                    <div class="sliderbox2">
                        <div id="btn-left2" class="arrow-btn2 dasabled"></div>
                        <div class="slider2" id="thumbnail2">
                            <ul>
                                <stl:channels channelIndex="报刊阅览">
                                    <li style="position:relative">
                                        <stl:a><img src="{Channel.imageUrl}" /></stl:a>
                                        <div class="label_new"></div>
                                        <stl:contents totalNum="1">
                                            <span class="js_addDate" style="display:none"><stl:content type="AddDate" formatString="yyyy-MM-dd"></stl:content></span>
                                        </stl:contents>
                                    </li>
                                </stl:channels>
                            </ul>
                        </div>
                        <div id="btn-right2" class="arrow-btn2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <stl:include file="/include/footer.html"></stl:include>
    <stl:include file="/include/floating_side_bar.html"></stl:include>
    <script src="{Stl.SiteUrl}/js/echarts.min.js"></script>
    <script src="{Stl.SiteUrl}/js/homepage.js"></script>
</body>
</html>​