<html>
<head>
    <title>Identity Server Callback</title>
</head>
<body>
<script type="text/javascript">
    alert(window.location.href.split('#').length);
    window.location.href = '/api/pages/main/actions/idlogon?' + window.location.href.split('#')[1]
</script>
</body>
</html>