<div class="footer" id="vm_footer" v-cloak>
    <div class="container">
        <div class="footer_top">
            <div class="footer_other">
                <div class="footer_other_title">系统管理</div>
                <div class="footer_other_con">
                    <a target="_blank" href="/siteServer">登录管理后台</a><br/>
                    <a target="_blank" href="http://10.138.20.12/main.asp">旧版新闻网站</a>
                </div>
            </div>
            <div class="footer_other wider">
                <div class="footer_other_title">站点访问统计</div>
                <div class="footer_other_con" id="vm_siteVisitData" v-cloak>
                    <span>总访问量：{{siteVisitData.totalPV}}次</span><br />
                    <span>今日访问量：{{siteVisitData.todayPV}}次</span><br />
                    <span>日均访问量：{{siteVisitData.avgPV}}次</span>
                </div>
            </div>
            <div class="footer_other widest">
                <div class="footer_other_title">集团站点</div>
                <div class="footer_other_con">
                    <div v-for="(siteBundle,index) in groupSites">
                        <div style="width:100px; float:left;">
                            <span v-for="site in siteBundle"><a target="_blank" :href="site.navigationUrl">{{site.channelName}}</a><br /></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="footer-bottom">
            <div class="copyright">{stl:value type="copyright"}</div>
        </div>
    </div>
</div>

<script src="/js/enplaceholder.js"></script>
<script src="/js/global.js" type="text/javascript"></script>
<script src="/js/vue2.5.15.min.js"></script>
<script>
    $(function () {
        //IE9及以下placeholder
        $('input').placeholder();

        //Footer - 站点访问量数据收集、获取
        vm = new Vue({
            el: "#vm_footer",
            data: {
                siteVisitData: {    //站点访问量数据
                    todayPV: null,  //站点日访问量
                    avgPV: null,    //站点平均访问量
                    totalPV: null   //站点总访问量
                },
                site: 'newsSite',   //站点访问量统计的站点标识
                groupSites: []      //集团站点
            },
            methods: {
                //获取站点日访问量数据
                getTodayPV: function () {
                    var self = this;
                    $.ajax({
                        url: '/api/aibol/GetPV?site=' + self.site,
                        type: 'get',
                        success: function (response) {
                            if (response.code == 200 && response.data) {
                                self.siteVisitData.todayPV = response.data;
                            }
                        }
                    })
                },

                //获取站点平均访问量数据
                getAvgPV: function () {
                    var self = this;
                    $.ajax({
                        url: '/api/aibol/GetAvgPV?site=' + self.site,
                        type: 'get',
                        success: function (response) {
                            if (response.code == 200 && response.data) {
                                self.siteVisitData.avgPV = response.data;
                            }
                        }
                    });
                },

                //获取站点总访问量数据
                getTotalPV: function () {
                    var self = this;
                    $.ajax({
                        url: '/api/aibol/GetTotalPV?site=' + self.site,
                        type: 'get',
                        success: function (response) {
                            if (response.code == 200 && response.data) {
                                self.siteVisitData.totalPV = response.data;
                            }
                        }
                    });
                },

                //添加站点访问量数据
                setPV: function () {
                    var self = this;
                    $.ajax({
                        url: '/api/aibol/addpv?site=' + self.site,
                        type: 'get',
                        success: function (response) {
                            if (response.code == 200) {
                                self.getTodayPV();
                                self.getAvgPV();
                                self.getTotalPV();
                            }
                        }
                    });
                },

                //获取集团站点信息(数据来源:门户网站)
                //获取门户网站所有一级栏目
                getChannels: function () {
                    var def = $.Deferred();
                    $.ajax({
                        url: '/api/v1/stl/channels?siteId=1&apiKey=' + global.apikey,
                        type: 'get',
                        success: function (response) {
                            def.resolve(response.value);
                        },
                        error: function (response) {
                            def.reject(response);
                        }
                    });
                    return def.promise();
                },

                //集团站点数据源请求：门户网站-集团站点
                getGroupSites: function (node) {
                    var self = this;
                    if (node.indexName == '集团站点') {
                        $.ajax({
                            url: '/api/v1/stl/channels?siteId=1&apiKey=' + global.apikey + '&channelId=' + node.id,
                            type: 'get',
                            success: function (response) {
                                var grounpCount = Math.ceil(response.value.length / 3);
                                var tempArray = [];
                                for (var i = 0; i < grounpCount; i++) {
                                    var tempArray = [];
                                    for (var j = 0; j < 3; j++) {
                                        var c = i * 3 + j;
                                        if (c < response.value.length) {
                                            tempArray.push(response.value[c]);
                                        }
                                    }
                                    self.groupSites.push(tempArray);
                                }
                            }
                        })
                    }
                },
            },
            created: function () {
                var self = this;

                //站点访问量数据设置
                this.setPV();

                //Footer里"集团站点"数据请求(siteServer接口)
                this.getChannels().done(function (data) {
                    data.forEach(function (node, index) {
                        self.getGroupSites(node);
                    })
                }).fail(function (data) {
                    console.log("reject");
                });
            }
        })
    });
</script>
