<div class="themenav">
    <!--logo+搜索+工作区登录信息-->
    <div class="container" style="position:relative">
        <div class="logo"> <a href="{Stl.SiteUrl}/index.html"> {stl:value type=Logo} </a> </div>
        <div class="search">
            <div id="sb-search" class="sb-search sb-search-open">
                <form id="searchform" method="get" action="{Stl.SiteUrl}/utils/search.html">
                    <input class="sb-search-input" placeholder="输入关键词查找..." type="text" name="word">
                    <input id="searchsubmit" class="sb-search-submit" type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                </form>
            </div>
            <script src="/js/classie.js"></script>
            <script src="/js/uisearch.js"></script>
            <script>
                new UISearch(document.getElementById('sb-search'));
            </script>
        </div>
        <div class="loginInfo" v-cloak id="loginInfoVM">
            <a v-if="!isLogin" v-bind:href="login">登录</a>
            <a v-if="isLogin" v-bind:href="logout">退出</a>
            <a v-if="isLogin" target="_blank" v-bind:href="backstage">进入工作区</a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<script>
    $(function () {
        var loginInfoVM = new Vue({
            el: "#loginInfoVM",
            data: {
                isLogin: false,
                login: null
            },
            created: function () {
                this.login = global.clients.getLoginUrl('news');
                this.logout = global.clients.getLogoutUrl('news');
                this.backstage = global.urls.backstage;
                setInterval(function () {
                    if (global.loginInfo) {
                        loginInfoVM.isLogin = true;
                    }
                }, 1000);
            }
        })

        //IE9 placeholder支持
        $('input, textarea').placeholder();    
    });
</script>