<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>
        {Stl.SiteName}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel='stylesheet' id='font-awesome-four-css' href='/css/font-awesome.min.css' type='text/css' media='all' />
    <link href="{Stl.SiteUrl}/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="{Stl.SiteUrl}/css/iconfont.css" type="text/css" rel="stylesheet" />
    <link href="{Stl.SiteUrl}/css/common.css" type="text/css" rel="stylesheet" />
    <link href="{Stl.SiteUrl}/css/swiper.min.css" type="text/css" rel="stylesheet" />
    <link rel='stylesheet' id='style-css' href='{stl.siteurl}/css/style.css' type='text/css' media='all' />
    <script type="text/javascript" src="{Stl.SiteUrl}/js/jquery.min.js"></script>
    <script type="text/javascript" src="{Stl.SiteUrl}/js/swiper.min.js"></script>
    <script type="text/javascript" src="{Stl.SiteUrl}/js/js.js"></script>
</head>
<body class="home blog">
    <!--Logo+导航+搜索-->
    <stl:include file="/include/header.html"></stl:include>
    <div class="clearfix"></div>

    <div class="maincon">
        <stl:include file="/include/banner.html"></stl:include>
        <div class="container neicon">
            <div class="row">
                <stl:include file="/include/left.html"></stl:include>
                <div class="col-md-9">
                    <div class="listcon">
                        <stl:include file="/include/location.html"></stl:include>
                        <div class="pagecon">
                            <h1 class="pagetit text-center">
                                {Content.Title}
                            </h1>
                            <div class="content-info">
                                作者: <stl:content type="author"></stl:content>&emsp;&emsp;
                                来源: <stl:content type="source"></stl:content>&emsp;&emsp;
                                发布时间: <stl:content type="AddDate" formatString="yyyy-MM-dd"></stl:content>&emsp;&emsp;
                                阅读次数: <stl:content type="hits"></stl:content>
                            </div>
                            <div class="pagecontent m-t-20">
                                <stl:content type="Content"></stl:content>
                            </div>
                            <div class="conbottom">
                                <div class="row">
                                    <div class="col-sm-8 prenext">
                                        <p><stl:navigation type="PreviousContent" tiptext="上一篇：" emptyText="无"></stl:navigation> </p>
                                        <p><stl:navigation type="NextContent" tiptext="下一篇：" emptyText="无"></stl:navigation></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <stl:include file="/include/footer.html"></stl:include>
    <!--<stl:include file="/include/right_bar.html"></stl:include>-->
    <!--<stl:include file="/include/foot_js.html"></stl:include>-->
</body>
</html>
