<style type="text/css">
    /*** 左侧悬浮窗 ***/
    .lf_container {
        width: 154px;
        position: fixed;
        top: 150px;
        left: 10px;
        transition: all 1s ease;
        z-index: 9999999;
        display: none;
        border: 1px solid #ff8c01;
        background: #ffb559;
        padding: 0 6px 10px 6px;
    }

        .lf_container .operation {
            height: 30px;
            text-align: right;
        }

            .lf_container .operation i {
                width: 24px;
                height: 24px;
                display: inline-block;
                line-height: 24px;
                font-size: 18px;
                color: #FFF;
                cursor: pointer;
            }

        .lf_container a.imgWrap {
            margin-bottom: 5px;
            display: block;
        }

            .lf_container a.imgWrap:last-of-type {
                margin-bottom: 0;
            }

            .lf_container a.imgWrap img {
                width: 140px;
            }

    /*** 右侧悬浮窗 ***/
    .rf_container {
        position: fixed;
        z-index: 9999999;
        top: 200px;
        cursor: pointer;
        transition: all .5s ease;
        height: 53px;
        line-height: 53px;
        font: 16px/53px 'Microsoft YaHei';
        color: #fff;
        text-indent: 54px;
        margin-bottom: 3px;
        border-radius: 3px;
        overflow: hidden;
    }

        .rf_container.rf_task {
            top: 150px;
            right: -277px;
            width: 330px;
        }

            .rf_container.rf_task .rf_task_title {
                border-radius: 0 0 3px 3px;
                background: #009d8e url(../images/fixCont.png) no-repeat 0 -113px;
            }

                .rf_container.rf_task .rf_task_title .wrap {
                    width: 100%;
                    height: 53px;
                    position: relative;
                }

                .rf_container.rf_task .rf_task_title .taskCount {
                    position: absolute;
                    background: #fff;
                    height: 25px;
                    width: 25px;
                    line-height: 25px;
                    color: #009d8e;
                    font-size: 14px;
                    top: 14px;
                    left: 15px;
                    z-index: 1;
                    text-align: center;
                    display: inline-block;
                    padding: 0;
                    margin: 0;
                    border-radius: 50%;
                    text-indent: 0;
                    letter-spacing: -1px;
                    font-weight: 600;
                }

            .rf_container.rf_task .rf_task_content {
                font-size: 14px;
                text-indent: 0;
                background: #fff;
                color: #333;
                width: 279px;
                line-height: 150%;
                border-radius: 0 0 3px 3px;
                border-left: 1px solid #eee;
                box-shadow: 1px 2px 2px rgba(33,33,33,.4)
            }

    .task_list li {
        padding: 5px 0;
        line-height: 150%;
        border-bottom: 1px solid #eee;
    }

        .task_list li .task_item_title {
            padding: 0 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }

            .task_list li .task_item_title a {
                color: #222;
            }

                .task_list li .task_item_title a:hover {
                    color: #009d8e;
                }

        .task_list li .task_item_time {
            padding: 0 15px;
            color: #999;
        }

        .task_list li .task_item_prompt {
            color: #999;
            text-align: center;
            line-height: 65px;
            font-size: 16px;
        }

    .task_list_more {
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        display: block;
        color: #333;
        height: 36px;
        line-height: 36px;
    }

        .task_list_more:hover {
            color: #009d8e;
        }

    .rf_container.rf_top {
        top: 206px;
        right: -87px;
        width: 140px;
        background: #009d8e url(../images/fixCont.png) no-repeat 0 0;
    }

    .rf_container.rf_phone {
        top: 262px;
        right: -146px;
        width: 199px;
        line-height: 140%;
        padding-top: 5px;
        background: #009d8e url(../images/fixCont.png) no-repeat 0 -57px;
    }
        .rf_container.rf_phone .title,
        .rf_container.rf_phone .phone_number {
            text-align:center;
            padding-right:10px;
        }
    .rf_container.rf_qrcode {
        top: 318px;
        right: -144px;
        width: 197px;
        background: #009d8e url(../images/fixCont.png) no-repeat 0 -169px;
    }

        .rf_container.rf_qrcode .rf_qrcode_qr {
            margin-left: 24px;
        }

        .rf_container.rf_qrcode .rf_qrcode_text {
            text-align: center;
            color: #fff;
            font-size: 16px;
            line-height: 200%;
            text-indent: 0;
            margin-top: 6px;
        }
        .rf_container.rf_qrcode.rf_qrcode2 {
            top: 374px;
            right: -307px;
            width: 360px;
        }
            .rf_container.rf_qrcode.rf_qrcode2 .rf_qrcode_qr {
                margin-left: -38px;
            }
            .rf_container.rf_qrcode.rf_qrcode2 .content {
                position: relative
            }
            .rf_container.rf_qrcode.rf_qrcode2 .info {
                position: absolute;
                left: 150px;
                top: 0;
                line-height: 200%;
                padding-left: 0;
                text-indent: 0
            }
                .rf_container.rf_qrcode.rf_qrcode2 .info .summary {
                    line-height:130%;
                    padding-right:15px;
                }
    .rf_container.rf_qrcode.rf_qrcode1 {
        width: 233px;
        right: -180px;
    }
</style>

<!--左侧悬浮窗-->
<div class="lf_container">
    <div class="operation">
        <i class="fa fa-close"></i>
    </div>
    <stl:contents channelIndex="左侧悬浮窗" isRecommend="true">
        <stl:if type="linkUrl" op="Empty">
            <stl:yes>
                <stl:if type="content" op="Empty">
                    <stl:yes>
                        <a class="imgWrap" href="javascript:;"><img src="{Content.ImageUrl}"></a>
                    </stl:yes>
                    <stl:no>
                        <stl:a class="imgWrap"><img src="{Content.ImageUrl}"></stl:a>
                    </stl:no>
                </stl:if>
            </stl:yes>
            <stl:no>
                <stl:a target="_blank" class="imgWrap"><img src="{Content.imageUrl}" /></stl:a>
            </stl:no>
        </stl:if>
    </stl:contents>
</div>

<!--右侧悬浮窗-->
<div class="rf_container rf_task">
    <div id="vm_backstageTasks" v-cloak>
        <div class="rf_task_title">
            <div class="wrap">
                待办任务 - 统一集成平台
                <div class="taskCount" v-if="taskCount">{{taskCount}}</div>
            </div>
        </div>
        <div class="rf_task_content">
            <ul class="task_list">
                <li v-for="(task,index) in backstageTasks" v-if="backstageTasks && backstageTasks.length>0 && index < 5">
                    <div class="task_item_title"><a :href="task.url" target="blank" :title="task.Name">{{task.Name}}</a></div>
                    <div class="task_item_time">{{task.CreatedWhen}}</div>
                </li>
                <li v-if="islogin && backstageTasks && backstageTasks.length==0">
                    <div class="task_item_prompt">暂无待办任务</div>
                </li>
                <li v-if="!islogin">
                    <div class="task_item_prompt">暂未登录工作区</div>
                </li>
            </ul>
            <a :href="tasksUrl" target="_blank" class="task_list_more" v-if="backstageTasks && backstageTasks.length>0">查看更多…</a>
        </div>
    </div>
</div>
<div class="rf_container rf_top" id="rf_top">返回顶部</div>
<div class="rf_container rf_phone">
    <div class="title">网站技术支持电话</div>
    <div class="phone_number">{stl:value type="phoneNumber"}</div>
</div>
<div class="rf_container rf_qrcode rf_qrcode1">
    平圩发电移动应用平台<br />
    {stl:value type="app_qrcode" class="rf_qrcode_qr" width="150" alt="平圩发电移动应用平台"}<br />
    <p class="rf_qrcode_text">扫描二维码下载</p>
</div>
<div class="rf_container rf_qrcode rf_qrcode2">
    <p style="margin-bottom:0">{stl:value type="wx_name"}</p>
    <div class="content">
        {stl:value type="wx_qrcode" class="rf_qrcode_qr" width="120" alt="公众号二维码"}
        <div class="info">
            <p>扫码关注公众号</p>
            <p class="summary">{stl:value type="wx_summary"}</p>
        </div>
    </div>
</div>

    <script>
        $(function () {
            // 左侧悬浮窗口hover事件
            if ($(".lf_container img").length > 0) {
                $(".lf_container").show();
                $(".lf_container .operation i").click(function () {
                    $(".lf_container").css("left", "-999px");
                })
            }

            // 右侧悬浮窗口hover事件
            //返回顶部
            $(".rf_top").hover(function () {
                $(".rf_top").css("right", "5px");
            }, function () {
                $(".rf_top").css("right", "-87px");
            });
            //电话号码
            $(".rf_phone").hover(function () {
                $(".rf_phone").css("right", "5px");
            }, function () {
                $(".rf_phone").css("right", "-146px");
            });
            //待办任务
            $(".rf_task").hover(function () {
                $(".rf_task").css("right", "5px");
                $(".rf_task").css('height', '460px');
            }, function () {
                $(".rf_task").css("right", "-277px");
                $(".rf_task").css('height', '53px');
            });
            //APP下载
            $(".rf_qrcode1").hover(function () {
                $(".rf_qrcode1").css("right", "5px");
                $(".rf_qrcode1").css('height', '250px');
            }, function () {
                $(".rf_qrcode1").css("right", "-180px");
                $(".rf_qrcode1").css('height', '53px');
            });
            //微信公众号
            $(".rf_qrcode2").hover(function () {
                $(".rf_qrcode2").css("right", "5px");
                $(".rf_qrcode2").css('height', '190px');
            }, function () {
                $(".rf_qrcode2").css("right", "-307px");
                $(".rf_qrcode2").css('height', '53px');
            });

            // 返回顶部
            $("#rf_top").click(function () {
                $("html,body").animate({
                    'scrollTop': '0px'
                }, 300)
            });

            //待办任务
            vm = new Vue({
                el: "#vm_backstageTasks",
                data: {
                    tasksUrl: global.urls.backstageTasks,
                    islogin: false,
                    taskCount: null,
                    backstageTasks: [],         //待办任务
                },
                methods: {
                    //待办任务
                    getBackstageTasks: function () {
                        var self = this;
                        $.get('/api/aibol/tasks', {}, function (response) {
                            if (response.code && response.code == 401) {//用户未登录工作区
                                self.islogin = false;
                            }
                            if (response.Records) {//用户已登录工作区
                                self.islogin = true;
                                response.Records.forEach(function (node, index) {
                                    if (node.CreatedWhen) {
                                        node.CreatedWhen = node.CreatedWhen.replace("T", " ");
                                        node.url = /^http.*/.test(node.RedirectUrl) ? node.RedirectUrl : (global.urls.backstage + node.RedirectUrl);
                                    }
                                });
                                self.backstageTasks = response.Records;
                            }
                            if (response && response.TotalItemCount) {//待办任务总数
                                self.taskCount = response.TotalItemCount;
                            }
                        });
                    }
                },
                created: function () {
                    //待办任务
                    this.getBackstageTasks();
                }
            })
        });
    </script>
