.latest-overlay:hover{background-color:rgba(36,36,36,.5);-webkit-transition:all .2s;-moz-transition:all .2s;-ms-transition:all .2s;-o-transition:all .2s;transition:all .2s}
.latest-overlay{height:100%;position:absolute;width:100%;bottom:0}
.bannerjb{font-size: 50px;color: #fff;display: none;opacity: .6;}
.pic-left:hover .bannerjb{display: block;}
.la-list01 ul li .image-item{overflow: hidden;}
.line-botm .tags{margin-top: 20px;}
.line-botm .tags a{font-size: 12px;color: #bbb;display: inline-block;padding-left: 8px;}
.line-botm .tags .icon-biaoqian{color: #c2c2c2;}
.line-botm h3 {text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.mob-author .time a {color: #bbb;}
/**侧边栏滚动代码**/
.hotcomment-view{height:612px;overflow:hidden;position:relative}
.hotcomment-view ul{position:absolute;left:0;top:0;width:310px}
.hotcomment li{overflow:hidden;border-bottom:1px solid #f0f0f0}
.hotcomment li .author-info{margin-top:20px;height:29px;line-height:29px;font-size:12px}
.hotcomment li .author-info .avatar{float:left;width:29px;height:29px;border-radius:50%;margin-right:15px}
.hotcomment li .author-info i{font-style:normal;color:#333;float:left;text-indent:5px;font-size:16px}
.hotcomment li .author-info span{color:#bbb;float:right;padding:0 10px 0 0}
.hotcomment li .comment-inner p{font-size:14px;color:#333;line-height:22px;margin:5px 0 5px 48px}
.hotcomment li .comment-refer{position:relative;height:43px;line-height:43px;padding-left:48px}
.hotcomment li .comment-refer .comment-icon{width:30px;height:15px;vertical-align:middle;display:inline-block;background-image:url(img/comment-icon.png);background-repeat:no-repeat;position:absolute;left:0;top:5px}
.hotcomment li .comment-refer .t{font-size:12px;color:#999;height:21px;line-height:21px;overflow:hidden;display:inline-block}
.hotcomment li .comment-refer .t a{color:#999;font-style:normal;margin-left:5px}
.title_container .title{border-bottom:2px solid #FF5E52;display:inline-block;position:relative;bottom:-2px;font-weight:400}

/**侧栏**/
.box-moder{background-color:#fafafa}
.box-moder h3{height:60px;font-size:20px;font-weight:400;padding:30px 30px 0;margin:0}
.box-moder{background-color:#fafafa}
.span-mark{display:inline-block;background-color:#f63756;position:absolute;z-index:1;height:20px;line-height:20px;margin:-28px 0 0;width:4px}
.hot-article ul li{padding:10px 20px;border-bottom:1px solid #f0f0f0;overflow:hidden}
.hots-post-widget .mod-thumb{width:100px;height:74px;float:left}
.mod-thumb{width:220px;height:165px;display:block;overflow:hidden;position:relative}
.hot-article ul li a{font-size:16px;line-height:28px;color:#666}
.widget_ztmao_ad,.widget_ztmao_comment,.widget_ztmao_hotpost,.widget_ztmao_hotpost2,.widget_ztmao_mostviews,.widget_ztmao_mostviews2,.widget_ztmao_postlist,.widget_ztmao_postlist2,.ztmao-lianjie,.ztmao_tag,.widget_ztmao_tag{margin-top:30px;overflow:hidden}
.hot-article-img{overflow:hidden;margin-bottom:20px}
.moder-project-list ul li{min-height:105px;padding:21px 30px;border-bottom:1px solid #f0f0f0}
.project-pic{width:62px;border:3px solid #eee;height:62px;position:absolute;overflow:hidden}
.project-pic img{height:100%}
.project-content{margin-left:115px;margin-top:-5px}
.project-content .project-title a{font-size:16px;color:#555}
.project-content p{color:#bbb;line-height:24px}
.pull-right a:hover{color:#3ca5f6}
.post-image img{max-width:100%!important;height:auto;text-align:center;display:block;margin:0 auto}
.data-article p img{max-width:100%!important;height:auto;text-align:center;display:block;margin:0 auto}
.alignnone{max-width:100%!important;height:auto;text-align:center;display:block;margin:0 auto}
.post-image{margin:15px 0 20px 0}
.pull-right .article-newest{margin:0 20px 0;padding-bottom:20px}
.pull-right .article-newest dt{position:relative;text-align:center}
.pull-right .article-newest dt .tit{position:relative;z-index:2;display:inline-block;background:#FAFAFA;padding:0 8px;font-size:16px;color:#3CA5F6}
.pull-right .article-newest dt::after{content:"";display:block;position:absolute;top:50%;left:0;width:100%;height:1px;background:#E9E9E9}
.pull-right .article-newest li{text-align:left;margin-top:18px}
.pull-right .article-newest li a{display:block;width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;font-size:14px;line-height:20px;color:#333}
.pull-right .article-newest li a .icon-sanjiao{margin-right:4px;font-size:12px;color:#BEBEBE}

#zuozhebg {background: url(images/zuozhebg.jpg) center center no-repeat;background-size: cover;height: 125px;}
#zuozhebg1{background-color: #fafafa;margin-top: 20px;}


/**评论**/
.post-comment h2{font-size:18px;font-size:1.8rem;line-height:18px;padding-bottom:20px;border-bottom:1px #e5e5e5 solid;margin-bottom:50px}
.post-comment .user-name{margin-bottom:18px;margin-top:2px}
.post-comment .user-name h3.name{line-height:40px;color:#B3B3B3;font-size:14px;font-size:1.4rem;display:inline}
.post-comment .user-name .captcha-part{margin-left:70px}
.post-comment .user-name .login-reminder{line-height:36px;color:#929292;font-size:14px;font-size:1.4rem}
.post-comment .avatar img{width:40px;height:40px;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;margin:-2px 5px 0 0}
.post-comment .comment-form{margin-bottom:50px}
.post-comment .comment-form textarea{padding:10px 15px 15px 10px;font-size:13px;font-size:1.3rem;width:700px;height:70px;border:1px #d8d8d8 solid;resize:none;max-height:158px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;margin-bottom:17px;color:#666}
.post-comment .comment-form .btn{margin-left:10px}
.post-comment .more-comment{padding-top:50px;border-top:1px #f2f2f2 solid}
.related_articles{margin-bottom:30px}
.related_articles h2{font-size:18px;font-size:1.8rem;line-height:18px;padding-bottom:20px;border-bottom:1px #e5e5e5 solid;margin-bottom:30px}
.related_articles li{vertical-align:top;width:224px;display:inline-block;margin-right:10px;margin-bottom:30px;overflow:hidden}
.related_articles li:nth-child(3n+3){margin-right:0}
.related_articles li img{margin-bottom:20px}
.related_articles li .title{display:block;height:60px;overflow:hidden;font-size:15px;font-size:1.5rem;line-height:20px;color:#333}
.related_articles li .title:hover{color:#3CA5F6}
#show-detail .author-cont .btn{right:70px;top:35px}
.comment-list li{padding-bottom:30px;margin-bottom:24px;border-bottom:1px #f2f2f2 solid}
.comment-list li:last-child{border-bottom:none;margin-bottom:0}
.comment-list li .success{margin-top:30px}
.comment-list li .comment-form{margin:30px 0 0 52px!important}
.comment-list li .comment-form textarea{width:100%!important}
.comment-list li .comment-form .avatar{position:static}
.comment-list .avatar{position:relative;top:6px}
.comment-list .avatar img{margin-right:10px!important;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%}
.comment-list span{color:#B3B3B3;line-height:22px;font-size:14px;font-size:1.4rem;}
.comment-list .name{color:#3CA5F6 !important;margin-right:10px;font-size:14px;font-size:1.4rem}
.comment-list .js-delete:hover,.comment-list .js-set-top:hover{color:#3CA5F6}
.comment-list .part{display:inline-block;margin-right:10px}
.comment-list .part:hover i,.comment-list .part:hover span{color:#3CA5F6}
.comment-list .part i{margin-right:5px;color:#b3b3b3;font-size:14px;font-size:1.4rem;vertical-align:middle;position:relative;top:-2px}
.comment-list .part.current i,.comment-list .part.current span{color:#3CA5F6}
.comment-list .part.current .icon-Shape9,.comment-list .part.current .icon-Shape9-1{display:inline-block;-webkit-animation:scalefade .3s;animation:scalefade .3s}
.comment-list .part.current .icon-like-1,.comment-list .part.current .icon-tread{display:none}
.comment-list .part .icon-tread{top:-1px}
.comment-list .toped{color:#3CA5F6;font-size:16px;font-size:1.6rem}
.comment-list .toped i{position:relative;top:2px;left:-6px}
.comment-list li.comment p{margin-top:-4px;margin-bottom:17px;font-size:16px;font-size:1.6rem;line-height:24px}
.comment-list .tools,.comment-list li.comment p{margin-left:52px}
.comment-list .tools span,.comment-list li.comment p span{font-size:13px;font-size:1.3rem}
.comment-from-main a,.comment-list .tools span a,.comment-list li.comment p span a{color:#b3b3b3}
.comment-list .comment-deleted{margin-bottom:0}
.comment-list .comment-info{line-height:22px}
.comment-list [class*=js-]{cursor:pointer}
#loading-comments{display:none;text-align:center;font-size:18px;color:#929292;margin-bottom:20px}
ul.children{padding:15px;margin-top:15px;border:1px solid rgba(26,53,71,.12);border-radius:4px;position:relative;display:none}
ul.children::before{content:"";position:absolute;top:-7px;right:calc(90% + 46px);right:-webkit-calc(90% + 46px);right:-moz-calc(90% + 39px);width:13px;height:7px;z-index:4;background:url(img/dropdown-menu-arrow.svg)}
img.wp-smiley{margin-left:5px;margin-right:5px;width:26px!important;height:auto!important;max-height:none!important;display:inline!important;vertical-align:middle!important}
.comment-form-smilies{display:none;width:300px;position:absolute;background:#fff;margin-top:60px;border:1px solid rgba(26,53,71,.12);border-radius:4px;box-shadow:0 1px 2px rgba(26,53,71,.1);zoom:1;transition:.25s cubic-bezier(.3,0,0,1.3);z-index:8}
.comment-form-smilies::before{content:"";position:absolute;top:-7px;left:20px;width:13px;height:7px;z-index:4;background:url(img/dropdown-menu-arrow.svg)}
.comment-form-smilies .smilies-box{padding:20px}
.respond-box{font-size:14px;font-size:1.4rem}
#comment_message{margin-bottom:20px;color:#ED1C24}
#comment_message i,.comment-cont .shenhe i{margin-right:4px}
.comment-cont .shenhe{color:#C00;font-size:12px!important;font-size:1.2rem!important}
#toggle-comment-author-info i{font-style:normal}
#comments-navi{text-align:right;padding:0 30px;padding-bottom:30px}
#comments-navi .page-numbers{margin:0 2px 2px 2px;padding:4px 14px;color:#5F5F5F;white-space:nowrap;display:inline-block;border-radius:2px;background-color:#F9F9F9}
#comments-navi a:hover{background:#3CA5F6;color:#fff}
#comments-navi .current{color:#FFF;background:#3CA5F6}
.artilce-bar-share a{width:135px;font-size:14px;font-size:1.4rem;display:block;margin:10px 5px;color:#B3B3B3}
.artilce-bar-share a:hover,.comment-from-main a:hover,.comment-list .tools span a:hover{color:#3CA5F6}
.artilce-bar-share a i{width:30px;display:inline-block}
.post-container .post-comment .captcha-input,.post-container .post-comment .name-input{height:36px;width:200;line-height:34px;border:1px #D9D9D9 solid;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;padding:0 15px 0 10px;font-size:13px;font-size:1.3rem;color:#666;margin-right:19px}
.span-mark-author {border-bottom: 4px solid #f63756;font-size: 18px;height: 28px;line-height: 20px;margin: -29px 0 0;position: absolute;z-index: 1;}
#comment-title{border-top: 1px solid #f0f0f0;margin-top: 90px;margin-bottom: 50px;}
#comment-author-info input{border:1px solid rgba(0,0,0,.15);border-radius:0;display:inline-block;line-height:36px;padding:0 0 0 12px;width:30%;float:left;margin:0 30px 30px 15px}
.comment-textarea-box textarea{border: 1px solid rgba(0, 0, 0, 0.15);box-sizing: border-box;height: 220px;line-height: 30px;padding: 10px;resize: none;width: 100%;}
.comment-from-main {margin-left: 0px;width: 100%;}
#submit {width: 148px;height: 48px;line-height: 38px;color: #fff;background-color: #3ca5f6;font-size: 18px;border-radius: 0;margin-top: 20px;margin-bottom: 30px;float: right;}
#bq222 {float: left;margin-top: 20px;}
#bq222 .icon-tianjiabiaoqing{font-size: 20px;}
.comment_admin {background: rgb(60, 165, 246) none repeat scroll 0% 0%;padding: 2px 5px;color: #fff;border-radius: 3px;margin-left: 5px;font-size: 12px;margin-right: 5px;}
span.comment_admin {color: #FFF;}
.Qr-code .js-qr-ds {width: 148px;line-height: 36px;background-color: #f63756;border-radius: 0;color: #fff;font-size: 18px;margin: 8px 0 0 0px;float: left;}
.Qr-code .js-qr-ds .dashang {width: 148px;height: 50px;line-height: 36px;border-radius: 0;color: #fff;font-size: 18px;margin: 6px 0 0 0px;float: left;display: none;}
.js-qr-ds a {color: #fff;line-height: 50px;text-align: center;}


/**作者页面**/
.author-bg{width:100%;position:relative;background-size:cover;background-repeat:no-repeat;background-position:center;}
.author-info{padding: 100px 0 100px 0;color: #FFF;width: 845px;margin: 0 auto;}
.author-info .avatar{width: 100px;height: 100px;border-radius: 100%;float: left;margin: 0px 25px 0px 0px;}
.author-info .avatar img{border:4px solid rgba(255,255,255,0.16);}
.author-info .name{font-size: 20px;margin-bottom: 15px;position: relative;margin-top: 15px;}
.author-info .name .author-name{display: inline-block;position: relative;font: 800 26px/26px "微软雅黑";margin-bottom: 15px;color: #fff;}
.author-info .name .author-icon{position:absolute;right:-25px;top:0;}
.author-info .name .author-icon a{display:inline-block;font-size:12px;position:relative;bottom:3px;}
.author-info .name .author-icon .icon-blue{border:1px solid rgba(255,255,255,0.46);background:#367ef5;display:inline-block;border-radius:100%;color:#ffffff;}
.author-info .name .author-icon .icon-yellow{border:1px solid rgba(255,255,255,0.46);background:#ffc816;display:inline-block;border-radius:100%;color:#ffffff;}
.author-info .dec{font-size: 14px;margin-top: 0px;}
.paybtn .pay-qrcode{float: left;position:absolute;left:-50%;top:60px;width:160px;background:#fff;padding:10px;-webkit-box-shadow:0 3px 15px 3px rgba(146,146,146,.1);-moz-box-shadow:0 3px 15px 3px rgba(146,146,146,.1);box-shadow:0 5px 5px 0px rgba(146,146,146,.2);z-index:-1;opacity:0;display:none\9;-webkit-transition:0.3s ease-out;-moz-transition:0.3s ease-out;-o-transition:0.3s ease-out;transition:0.3s ease-out;-webkit-backface-visibility:hidden;top:38px;}
.paybtn .pay-qrcode img{width:100%;}
.paybtn.open .pay-qrcode{margin-top:-1px;opacity:1;z-index:10;display:block\9;top:60px;}
.paybtn.open .pay-qrcode:before{content:"";border-style:solid;border-width:0 9px 9px 9px;border-color:transparent transparent #ffffff transparent;height:0px;position:absolute;left:50%;top:-9px;width:0px;-webkit-transform:rotate(360deg);}
.paybtn.open .pay-qrcode:before{margin-left:-9px}
.author-nav{width: 450px;overflow: hidden;border-radius: 3px;position: relative;margin: 0 auto;}
.options{float: right;}
.options a{background: #e94c3d;border-radius: 20px;height: 40px;line-height: 40px;color: #fff;font-size: 16px;display: inline-block;padding: 0 30px;}
.options a:hover{background: #3ca5f6;color: #fff;}
.author-nav ul li{line-height: 25px;float:left;width:50%;text-align:center;margin:15px 0;cursor:pointer}
.author-nav ul li a{display:block;border-right:1px solid #DDD;color:#555;}
.author-nav ul li.current a,
.author-nav ul li a:hover{color:#337ab7}
.author-nav ul li:last-child a{border-width:0;}
.author-content{width:100%;position:relative;padding:70px 0;}
.content-box{width:845px;margin:0 auto;position:relative;}
.content-box .author-posts{}
.author-posts ul{position:relative;}
.author-posts ul li{display:block;position:relative;padding:25px;background:#FFF;margin-bottom:30px;-webkit-box-shadow:0 3px 15px 3px rgba(146,146,146,.1);-moz-box-shadow:0 3px 15px 3px rgba(146,146,146,.1);box-shadow:0 3px 15px 3px rgba(146,146,146,.1);}
.author-posts ul li .image{float:left;position:relative;width:220px;height:150px;overflow:hidden;}
.author-posts ul li .image img{width:100%;height:auto;}
.author-posts ul li .info{margin-left:240px;}
.author-posts ul li .info span{color:#999;}
.author-posts ul li .info .title{font-size:18px;line-height:1.5;margin-bottom:10px;}
.author-posts ul li .info .title a{color:#333}
.author-posts ul li .info .dec{font-size:13px;color:#999;line-height:1.5;margin-bottom:15px;}
.author-posts ul li .info .meta{font-size:12px;}
.row233 {width: 800px;margin: 0 auto;}
/**文章顶部AD**/
.da-title img {width: 100%;margin-bottom: 20px;}
@media screen and (max-width:767px){
.data-article iframe {width:auto;height:auto}
.breadcrumbs {margin-top: 10px !important}
#comments{width:98%}
.row233 {width: auto;margin-right: -15px;margin-left: -15px;}
.pic-left:hover .bannerjb {display:none}
#detail-article .article-author .article-pl,#detail-article .article-author .liulan,#detail-article .article-author .column-link,.Qr-code .js-qr-ds{display:none}
.author-nav {width: 90%;}
.la-list01 ul {padding-bottom: 0px;}
.author-info {padding: 50px 0 30px 0;}
.author-content {padding: 40px 0 0;}
.line-botm {padding: 10px 0;}
/*.search-content {width: 90%;margin-left: 5%;}
.icon-search-close {right: 30px;top: 30px;}*/
.author-info{width: 100%;margin-left: -20px;padding-left: 40px;}
.options {display: none;}
.user-state .state-list li .l-cont{text-align: right;padding: 10px;}
.user-state .state-list li .r-cont{padding: 15px;}
.content-box {width: 100%;}
.author-posts ul li {padding: 15px;margin-bottom: 15px;}
.author-posts ul li .image {width: 110px;height: 75px;}
.author-posts ul li .info {margin-left: 125px;}
.author-posts ul li .info .title {font-size: 16px;line-height: 1.5;margin-bottom: 10px;}
.author-posts ul li .info .dec {display: none;}

}
.author-nav .current {color: #3CA5F6;}
.zuozhebg2{background: #FFF;position: relative;margin: 0 auto;-webkit-box-shadow: 0px 2px 10px rgba(0,0,0,0.05);-moz-box-shadow: 0px 2px 10px rgba(0,0,0,0.05);box-shadow: 0px 2px 10px rgba(0,0,0,0.05);}
.user-state{padding-top:30px}
.user-state .top-circle{margin-left:149px}
.user-state .top-circle .circle-b{width:26px;height:26px;border:2px #e5e5e5 solid;text-align:center;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%}
.user-state .top-circle .circle-c{display:inline-block;width:18px;height:18px;background-color:#3CA5F6;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;margin-top:4px}
.user-state .state-list{margin-top:-6px}
.user-state .state-list li:first-child .l-cont,.user-state .state-list li:first-child .r-cont{padding-top:20px}
.user-state .state-list li .l-cont{padding-top:40px;float:left;margin-right:33px;position:relative;width:130px}
.user-state .state-list li .l-cont time{font-size:14px;font-size:1.4rem;color:#333}
.user-state .state-list li .l-cont .point{position:absolute;right:-39px;top:45px;display:inline-block;height:10px;width:10px;background-color:#3CA5F6;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%}
.user-state .state-list li:first-child .point{top:25px}
.user-state .state-list li .r-cont{padding-top:40px;overflow:hidden;padding-left:34px;border-left:2px solid #e5e5e5;line-height:20px}
.user-state .state-list li .r-cont .inner{font-size:16px;font-size:1.6rem;border-bottom:1px solid #f2f2f2;padding-bottom:26px}
.user-state .state-list li .r-cont .head-line{font-size:16px;font-size:1.6rem;color:#333;margin-bottom:12px}
.user-state .state-list li .r-cont .title{margin-bottom:14px;font-size:16px;font-size:1.6rem}
.user-state .state-list li .r-cont a{color:#3CA5F6}
.user-state .state-list li .r-cont p{color:grey;margin-bottom:14px}
#commentsnavi .btn-bordered {width: auto;display: inline-block;height: 38px;line-height: 36px;box-sizing: border-box;font-size: 14px;font-size: 1.4rem;padding: 0 20px;-webkit-border-radius: 40px;-moz-border-radius: 40px;border-radius: 40px;color: #3CA5F6;border-color: #3CA5F6;background-color: transparent;}
/*作者页面 翻页*/
#page a {text-decoration: none;color: #FFF;background: #6B6E81;display: inline-block;line-height: 16px;border-radius: 2px;margin: 0 0px 2px 10px;padding: 5px 14px;}
#page {text-align: center;margin: 30px auto;}
#page a:hover,#page a.current {color:#FFF;background:#3CA5F6;border-radius: 2px;}
/**面包屑**/
.breadcrumbs {padding: 6px 0;list-style: none;border-radius: 4px;height: 30px;}
.breadcrumbs li {float: left;margin-right: 5px;}
.breadcrumbs li a:hover{color: #3ca5f6;}
.breadcrumbs li a {color: #333;}
/*404*/
/*404*/
.m-error-con {
    height: 750px;
}
.m-error-con .con {overflow:hidden;clear:none;position: absolute;left: 50%;top: 25%;width: 820px;margin-left: -410px;}
.m-error-con .con-left {float:left;}
.m-error-con .con-right {float:right;}
.con-left img {margin-top:30px;}
.m-error-con {font:14px/1.5 arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;}
.m-error-con .txt {margin-left:28px;}
.m-error-con .txt a {color:#cd313a;text-decoration:none;}
.con-order .txt {margin-left:0;}

body {
    font-family: Arial,"Microsoft Yahei",sans-serif !important;
    padding: 0;
    color: #666;
    margin: 0 auto;
    background: #f9f9f9 !important;
}

ul {
    margin: 0 !important;
    padding: 0;
}

li {
    list-style: none;
}

img {
    background: #fff;
    opacity: 1;
    filter: Alpha(opacity=1);
    transition: opacity 1s;
    -moz-transition: opacity 1s; /* Firefox 4 */
    -webkit-transition: opacity 1s; /* Safari 和 Chrome */
    -o-transition: opacity 1s; /* Opera */
}

    img:hover {
        opacity: 0.6;
    }

.hidden {
    display: none;
}

.hid {
    display: none;
}

a:hover {
    text-decoration: none !important;
}

.container {
    position: relative;
}

/*头部样式*/
.themenav {
    background: #fff;
    border-bottom: 1px solid #ccc;
    /* border-bottom: 1px solid rgba(0,0,0,.09); */
    box-shadow: 1px 1px 4px rgba(11,11,11,.06);
    color: #fff;
    z-index: 99;
    transition: 0.4s;
    -webkit-transform: translateZ(0);
    position: relative;
}

.logo {
    float: left;
    height: 65px;
    line-height: 65px;
    position: relative;
    left: 0;
    top: 0;
}

    .logo img {
        max-height: 60px;
    }

.thememenu {
    position: relative;
    line-height: 40px;
}

.mxnav li {
    position: relative;
    display: inline;
    padding-right: 20px;
    z-index: 999;
}

    .mxnav li a {
        position: relative;
        font-size: 13px;
        color: #222;
        opacity: 1;
        transition: 0.4s;
        padding-bottom: 4px;
        letter-spacing: 1px;
        z-index: 999;
    }

        .mxnav li a:hover {
            opacity: 0.4;
            filter: Alpha(opacity=40);
        }

.mxnav .current-menu-item a {
    border-bottom: 1px solid #222;
}

.mxnav li:after {
    content: "";
    display: inline;
    position: absolute;
    top: 50%;
    right: 8px;
    width: 1px;
    height: 12px;
    margin-top: -6px;
    background-color: #a3a3a8;
    opacity: 0.4;
    filter: Alpha(Opacity=40);
}

.mxnav li:last-child:after {
    display: none;
}

.search {
    position: absolute;
    right: 120px;
    top: 4px;
}

.sb-search {
    margin-right: 15px;
    position: relative;
    margin-top: 10px;
    width: 0%;
    min-width: 30px;
    height: 40px;
    float: right;
    overflow: hidden;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
    -webkit-backface-visibility: hidden;
    z-index: 999;
}

.sb-search-input {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    outline: none;
    background: #fff;
    width: 100%;
    height: 40px;
    margin: 0;
    z-index: 10;
    padding: 20px 65px 20px 20px;
    font-family: inherit;
    font-size: 20px;
    font-size: 16px;
}

    .sb-search-input::-webkit-input-placeholder {
        color: #999;
    }

    .sb-search-input:-moz-placeholder {
        color: #999;
    }

    .sb-search-input::-moz-placeholder {
        color: #999;
    }

    .sb-search-input:-ms-input-placeholder {
        color: #999;
    }

.glyphicon-search,
.sb-search-submit {
    width: 30px;
    height: 40px;
    display: block;
    position: absolute !important;
    right: 0;
    top: 0 !important;
    padding: 0;
    margin: 0;
    line-height: 40px !important;
    text-align: center;
    cursor: pointer;
}

.sb-search-submit {
    background: #fff; /* IE needs this */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
    color: transparent;
    border: none;
    outline: none;
    z-index: -1;
}

/* Open state */
.sb-search.sb-search-open,
.no-js .sb-search {
    width: 350px;
    border: 1px solid #e5e5e5;
}

    .sb-search.sb-search-open .glyphicon-search,
    .no-js .sb-search .glyphicon-search {
        color: #222;
        z-index: 11;
    }

    .sb-search.sb-search-open .sb-search-submit,
    .no-js .sb-search .sb-search-submit {
        z-index: 90;
    }

.loginInfo {
    position: absolute;
    right: 20px;
    line-height: 65px;
    color: #333;
    text-align: right;
}

    .loginInfo a {
        color: #666;
    }



#sideMenu {
    font-size: 22px;
    color: #222;
    float: right;
    z-index: 5;
    display: none;
}

#sideMenuContainer {
    height: 100%;
    position: fixed;
    top: 56px;
    right: -200px;
    width: 200px;
    z-index: 999999999;
    bottom: 0;
}

.mxphonenav {
    padding: 10px 20px;
    line-height: 50px;
}

    .mxphonenav li a {
        color: #fff;
    }

        .mxphonenav li a:hover {
            opacity: 0.4;
        }

.headerNav {
    height: 50px;
    background: #fff;
    font-size: 14px;
}

    .headerNav .navItem {
        width: 100%;
        height: 50px;
        line-height: 50px;
        margin: 0 auto;
        position: relative;
        z-index: 111;
    }

        .headerNav .navItem li {
            float: left;
            padding: 0 20px;
            height: 50px;
            line-height: 50px;
            text-align: center;
        }

            .headerNav .navItem li a {
                color: #222;
                display: block;
            }

                .headerNav .navItem li a:hover {
                    /*opacity: 0.4;*/
                    color: #009d8e;
                    filter: Alpha(opacity=40);
                    background: transparent;
                }

            .headerNav .navItem li .second-nav {
                width: 150px;
                display: none;
                padding: 0;
                position: absolute;
            }


                .headerNav .navItem li .second-nav li {
                    position: relative;
                    width: 100%;
                    height: 40px;
                    line-height: 40px;
                    background: #fff;
                    border-top: 1px solid #eee;
                    padding: 0;
                    box-shadow: 1px 2px 2px rgba(33,33,33,.4)
                }

                    .headerNav .navItem li .second-nav li:first-of-type {
                        border-top: 3px solid #009d8e;
                    }

                    .headerNav .navItem li .second-nav li .third-nav {
                        width: 150px;
                        display: none;
                        margin-left: 101% !important;
                        margin-top: -35px !important;
                    }

                        .headerNav .navItem li .second-nav li .third-nav li:first-of-type {
                            border-top: 3px solid #009d8e;
                        }


/* 幻灯片样式 */
.slideBox {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}

    .slideBox .hd {
        height: 15px;
        overflow: hidden;
        position: absolute;
        left: 50%;
        bottom: 15px;
        z-index: 1;
        margin-left: -75px;
    }

        .slideBox .hd ul {
            overflow: hidden;
            zoom: 1;
            float: left;
        }

            .slideBox .hd ul li {
                float: left;
                margin: 0 5px;
                width: 40px;
                height: 3px;
                line-height: 14px;
                text-align: center;
                background: #fff;
                cursor: pointer;
            }

            .slideBox .hd ul .on {
                background-color: #009d8e;
            }

    .slideBox .bd {
        position: relative;
        height: 100%;
        z-index: 0;
    }

        .slideBox .bd li {
            zoom: 1;
            vertical-align: middle;
        }

            .slideBox .bd li a .bdimg {
                background-size: cover !important;
            }

    /* 下面是前/后按钮代码，如果不需要删除即可 */
    .slideBox .prev,
    .slideBox .next {
        position: absolute;
        left: 3%;
        top: 50%;
        margin-top: -25px;
        display: block;
        width: 32px;
        height: 40px;
        background: url(../images/slider-arrow.png) -110px 5px no-repeat;
        filter: alpha(opacity=50);
        opacity: 0.5;
    }

    .slideBox .next {
        left: auto;
        right: 3%;
        background-position: 8px 5px;
    }

        .slideBox .prev:hover,
        .slideBox .next:hover {
            filter: alpha(opacity=100);
            opacity: 1;
        }

    .slideBox .prevStop {
        display: none;
    }

    .slideBox .nextStop {
        display: none;
    }

.divContent {
    height: 450px;
}

.underslideBox {
    top: -1px;
}

.underhd li a img {
    width: 100%;
    height: auto;
}

    .underhd li a img:hover {
        opacity: 1;
    }

/*首页板块样式*/
.contentpart {
    padding: 60px 0;
}

.parttitle h2 {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: normal;
    margin-top: 0;
    color: #222;
}

.parttitle p {
    font-size: 17px;
    line-height: 24px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #2e2e2e;
    margin-bottom: 40px;
}

.icon-wrapper {
    position: relative;
    height: 80px;
    margin-bottom: 30px;
}

.youshipart {
    background: #fff;
    min-height: 340px;
    height: 340px;
    max-height: 340px;
}

    .youshipart img {
        width: 100%;
        height: 175px;
    }

    .youshipart p {
        color: #999;
        padding: 0 16px 10px 16px;
        text-align: justify;
        height: 120px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
    }

    .youshipart h3 {
        font-size: 18px;
        line-height: 22px;
        color: #222;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        height: 44px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

.icon-wrapper i {
    font-size: 50px;
    color: #666;
}

    .icon-wrapper i:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0px;
        left: 50%;
        margin-left: -15px;
        border-bottom: 1px solid rgba(0,0,0,0.16);
        width: 30px;
    }

.indexabout {
    padding: 30px 20% 10px;
    color: #fff;
}

    .indexabout h4 {
        margin-top: 0;
    }

    .indexabout h2 {
        margin-top: 0px;
        margin-bottom: 30px;
    }

    .indexabout p {
        font-size: 15px;
        line-height: 24px;
    }

    .indexabout a {
        padding: 10px 40px;
        font-size: 16px;
        color: #fff;
    }

        .indexabout a:hover {
            color: #fff;
        }

.indexaboutLinks {
    padding: 10px 9.4%;
}

    .indexaboutLinks a,
    .indexaboutLinks a:hover {
        color: #fff;
        font-size: 14px;
    }

    .indexaboutLinks.btns a,
    .indexaboutLinks.btns a:hover {
        background: #b28500;
        width: 144px;
        height: 37px;
        line-height: 37px;
        color: #fff;
        font-size: 16px;
        text-align: center;
        margin: 0 19px;
        display: inline-block;
    }


/*.productpart #myTab{
  float: left;
  width: 20%;
  border-bottom: none;
  padding: 15px;
}
.productpart #myTab li{
  float: none;
  background:rgba(255,255,255,0.2);
  margin-bottom:5px;
}
.productpart #myTab li a{
    border:none;
    color: #fff;
    text-align: center;
}
.productpart #myTab li a:hover{
    border-radius: 0 !important;
    background: #fff;
    margin-right: 0 !important;
}*/

.productpart #myTabContent {
    padding: 30px;
    /* min-height: 500px;*/
}

.productpart .nav-tabs > li.active > a, .productpart .nav-tabs > li.active > a:focus, .productpart .nav-tabs > li.active > a:hover {
    border-radius: 0 !important;
    margin-right: 0 !important;
}

#myTabContent .proimg {
    width: 240px;
    height: 160px;
    padding-left: 10px;
    padding-right: 10px;
}

    #myTabContent .proimg img {
        width: 240px;
        height: 160px;
    }
/*#myTabContent .proimg img{
    width: 100%;
    height: auto;
}*/
#myTabContent .indexprotit {
    text-align: center;
    color: #222;
    display: block;
    padding: 10px 0 30px 0;
    height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.indexnews {
    padding: 0 10%;
    margin: 0 auto;
}

/* 本例子css */
.slideBox1 {
    width: 100%;
    height: auto;
    position: relative;
    background: #f9f9f9;
}

    .slideBox1 .bd {
        position: relative;
        height: 100%;
        z-index: 0;
    }

        .slideBox1 .bd li {
            zoom: 1;
            vertical-align: middle;
        }


    /* 下面是前/后按钮代码，如果不需要删除即可 */
    .slideBox1 .prev,
    .slideBox1 .next {
        position: absolute;
        left: -60px;
        top: 50%;
        margin-top: -25px;
        display: block;
        width: 50px;
        height: 40px;
        background: url(../images/slider-arrow.png) -101px 5px no-repeat;
        filter: alpha(opacity=50);
        opacity: 0.5;
    }

    .slideBox1 .next {
        left: auto;
        right: -60px;
        background-position: 17px 5px;
    }

        .slideBox1 .prev:hover,
        .slideBox1 .next:hover {
            filter: alpha(opacity=100);
            opacity: 1;
        }

    .slideBox1 .prevStop {
        display: none;
    }

    .slideBox1 .nextStop {
        display: none;
    }

    .slideBox1 .newstext {
        width: 50%;
        padding: 45px;
        float: right;
    }

    .slideBox1 .newsimg {
        width: 50%;
        float: left;
    }

        .slideBox1 .newsimg img {
            width: 100%;
            height: auto;
        }

    .slideBox1 .newstime {
        color: #999;
        margin-bottom: 5px;
    }

    .slideBox1 .newstit {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .slideBox1 .newszy {
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 20px;
    }

    .slideBox1 .newsmore {
        font-size: 16px;
    }

    .slideBox1 .newsmore {
        color: #009d8e;
    }

.indexcasepart {
    position: relative;
    margin-bottom: 30px;
}

.indexcaseimg img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.indexcasetit {
    position: absolute;
    left: 15px;
    bottom: 10px;
    color: #fff;
    font-size: 16px;
}

/*内页公共样式*/
.maincon {
    background: #f9f9f9;
}

.nybanner img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.neicon {
    padding-top: 30px;
    padding-bottom: 30px;
}

.sidbarnav {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

.listcon {
    background: #fff;
    padding: 30px;
}

.tzggtit {
    margin-bottom: 5px;
    text-align: center;
    line-height: 35px;
    font-weight: bold;
    color: #fff;
}

    .tzggtit span {
        color: #fff !important;
    }

    .tzggtit:before {
        content: '--'
    }

    .tzggtit:after {
        content: '--'
    }

.ymtitle li {
    text-align: center;
}

    .ymtitle li a {
        height: 34px;
        line-height: 34px;
        background: #f2f3f6;
        display: block;
        margin-top: 10px;
        text-align: center;
        color: #333;
    }

.sidbarcontact {
    background: #fff;
    padding: 20px;
}

    .sidbarcontact p {
        font-size: 12px;
        line-height: 24px;
        color: #333;
        margin: 15px 0;
    }

    .sidbarcontact a {
        display: block;
        margin-top: 10px;
        text-align: center;
        color: #111;
        border: 1px solid #eaeaea;
        height: 34px;
        line-height: 34px;
        font-size: 14px;
        transition: 0.3s;
    }

.bread {
    padding-bottom: 15px;
    border-bottom: 1px solid #e5e5e5;
    color: #999;
}

.pagetit {
    font-size: 24px;
    margin: 20px 50px;
    line-height:170%;
}

.pageSubtit {
    font-size: 20px;
    margin: 20px auto;
}

.pagecontent img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.pagecontent p {
    line-height: 30px;
    margin-bottom: 15px;
    color: #666;
}

.protoptextpart h1 {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
}

.protoppart {
    margin-top: 30px;
}

.proxiangqing {
    font-size: 16px;
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 15px;
}

.xgpro {
    font-size: 16px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 15px;
    margin-top: 45px;
}
/*产品相册样式*/
#showbox {
    background: #f2f3f6;
    margin: 0 auto;
}

    #showbox span {
        background: url(../images/whitebg.png) repeat;
    }

#showsum {
    margin: 10px auto;
    margin-bottom: 0;
    left: -10px;
}

    #showsum span {
        border: 1px solid #ddd;
    }


.showpage {
    position: relative;
}

    .showpage a {
        display: block;
        width: 15px;
        border: 1px solid #f2f3f6;
        height: 67px;
        line-height: 67px;
        background: #f2f3f6;
        text-align: center;
        font-size: 18px;
        position: absolute;
        left: 0;
        top: -65px;
        text-decoration: none;
        color: #999;
    }

        .showpage a#shownext {
            left: auto;
            right: 0;
        }

#showbox .image-gallery {
    display: none !important;
}

#showbox p {
    z-index: 999;
}

.sjxc {
    display: none;
}

#showbox1 {
    background: #f2f3f6;
    margin: 0 auto;
}

    #showbox1 span {
        background: url(../images/whitebg.png) repeat;
    }

#showsum1 {
    margin: 10px auto;
    margin-bottom: 0;
    left: -10px;
}

    #showsum1 span {
        border: 1px solid #ddd;
    }


.showpage {
    position: relative;
}

    .showpage a {
        display: block;
        width: 15px;
        border: 1px solid #f2f3f6;
        height: 62px;
        line-height: 62px;
        background: #f2f3f6;
        text-align: center;
        font-size: 18px;
        position: absolute;
        left: 0;
        top: -60px;
        text-decoration: none;
        color: #999;
    }

        .showpage a#shownext {
            left: auto;
            right: 0;
        }

#showbox1 .image-gallery {
    display: none !important;
}

#showbox1 p {
    z-index: 999;
}

/*内页列表样式*/
.newslistpart h1 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 0px;
}

    .newslistpart h1 a {
        color: #333;
    }

.newstag span {
    color: #999;
    margin-right: 10px;
    font-size: 12px;
}

.newslistpart .newszy {
    color: #666;
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 0;
}

.newslistpart {
    padding: 30px 0;
    border-bottom: 1px dashed #e5e5e5;
}

    .newslistpart img {
        width: 100%;
        height: auto;
    }

.page_navi {
    margin-top: 30px;
}

    .page_navi a {
        padding: 5px 12px;
        border: 1px solid #e5e5e5;
        margin: 0 2px;
        color: #333;
    }

.sancon h1 {
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    margin-top: 8px !important;
}

.noborder {
    border: none !important;
    padding-bottom: 0 !important;
    margin-bottom: -10px;
}

.casetitle {
    margin-top: 10px !important;
}

.downloadlistpart {
    line-height: 20px;
    border-bottom: 1px solid #f5f5f5;
}

    .downloadlistpart h1 {
        font-size: 16px;
        margin: 0;
        margin-top: 15px;
    }

        .downloadlistpart h1 .label_new {
            font-size: 12px;
            color: #ff8c00;
            margin-left: 10px;
            display: none;
        }

.downloadtime {
    font-size: 12px;
    color: #999;
    margin: 10px 0;
}

.downloadlistpart h1 a {
    color: #333;
}

.sancontit {
    font-size: 16px !important;
    font-weight: bold !important;
    text-align: left !important;
    line-height: 20px;
}

.threetag .newstag {
    margin-top: -5px;
    margin-bottom: -5px;
}

.lefttime {
    background: #fafafa;
    padding: 10px 0 1px 0;
}

    .lefttime p {
        color: #999;
    }

.year {
    font-size: 18px;
    font-weight: bold;
}

.bdsharebuttonbox {
    float: right;
    margin-top: 10px;
}

.conbottom {
    margin-top: 30px;
    background: #fafafa;
    padding: 20px 15px 10px 15px;
}

.not-found {
    margin-bottom: 160px;
}

.zhaopinlist table th {
    border-right: 1px solid #e5e5e5;
}

.zhaopinlist table tbody tr td {
    display: table-cell;
    vertical-align: middle;
    border-right: 1px solid #e5e5e5;
}

.zhaopinlist .table > thead > tr > th {
    border-bottom: 1px solid #e5e5e5;
    background: #fafafa;
    display: table-cell;
    vertical-align: middle;
}

.zhaopinlist table {
    border-left: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.proslist {
    margin-top: 30px;
}
/*固定的悬浮窗*/
.yb_conct {
    position: fixed;
    z-index: 9999999;
    top: 200px;
    right: -180px;
    cursor: pointer;
    transition: all .3s ease;
}

.yb_bar ul li {
    width: 233px;
    height: 53px;
    font: 16px/53px 'Microsoft YaHei';
    color: #fff;
    text-indent: 54px;
    margin-bottom: 3px;
    border-radius: 3px;
    transition: all .5s ease;
    overflow: hidden;
}

.yb_bar .yb_top {
    background: url(../images/fixCont.png) no-repeat 0 0;
}

.yb_bar .yb_phone {
    background: url(../images/fixCont.png) no-repeat 0 -57px;
}

.yb_bar .yb_QQ_title {
    text-indent: 54px;
    background: url(../images/fixCont.png) no-repeat 0 -113px;
    height: 53px;
    line-height: 53px;
    overflow-y: hidden;
}

.yb_bar .yb_QQ_content {
    max-height: 200px;
    line-height: 24px;
}

.yb_bar .yb_ercode {
    background: url(../images/fixCont.png) no-repeat 0 -169px;
}

.yb_bar .yb_top {
    background-color: #009d8e;
}

.yb_bar .yb_phone {
    background-color: #009d8e;
}

.yb_bar .yb_QQ {
    background-color: #009d8e;
}

.yb_bar .yb_ercode {
    background-color: #009d8e;
}

.hd_qr {
    display: block;
    margin: 0 auto;
}

/*.yb_QQ a {
    display: block;
    text-indent: 54px;
    width: 100%;
    height: 100%;
    color: #fff;
}

    .yb_QQ a:hover {
        color: #fff;
    }*/

/*信息反馈样式*/
.pagecontent .visual-form-builder fieldset {
    background: none;
    border: none;
    margin: 0 !important;
}

.pagecontent .vfb-legend {
    display: none;
}

.pagecontent .visual-form-builder fieldset input, .pagecontent .visual-form-builder fieldset textarea {
    border-radius: 0;
    background: none;
    border: 1px solid #e5e5e5;
    padding: 10px 5px;
    width: 100%;
    margin-top: 5px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

#vfb-3 {
    display: none;
}

.conbottom p {
    color: #999;
}

.conbottom a {
    color: #333;
}

.indexnewstag {
    margin-bottom: 6px;
}

.vfb-item-secret .vfb-desc {
    display: none !important;
}

.vfb-item-secret .vfb-span {
    display: none !important;
}

@media (max-width: 768px) {
    .productpart #myTab li {
        width: 33.333%;
        float: left;
    }

    .productpart #myTabContent {
        margin-left: 0 !important;
        float: none;
    }

    .productpart #myTab {
        width: 100%;
        float: none;
    }

    .pcxc {
        display: none;
    }

    .sjxc {
        display: block;
        margin-bottom: 30px;
    }

    .yb_conct {
        display: none;
    }

    .youshipart {
        margin-bottom: 30px;
    }

    .thememenu {
        display: none;
    }

    .slideBox1 .newstext {
        width: 100%
    }

    .slideBox1 .newsimg {
        width: 100%;
    }

    .indexnews {
        padding: 0;
    }

    .slideBox1 .prev,
    .slideBox1 .next {
        display: none;
    }

    .slideBox1 .prev,
    .slideBox1 .next {
        background-color: #009d8e;
    }

    .slideBox .hd ul .on {
        background-color: #009d8e;
    }

    .footer {
        padding: 20px 0 15px 0;
    }

    .footer_top {
        display: none;
    }

    .search {
        display: none;
    }

    .themenav {
        height: 56px;
        line-height: 56px;
    }

    .logo img {
        max-height: 28px;
        width: auto;
    }

    #sideMenu {
        display: block;
    }

    .slideBox {
        display: none;
    }

    .divContent {
        height: 300px;
    }

    .logo {
        height: 56px;
    }

    .underslideBox {
        display: block !important;
    }


    .bdsharebuttonbox {
        float: left;
        margin-bottom: 10px;
        margin-top: 5px;
    }

    .lefttime {
        display: none;
    }

    .sidbarcontact {
        display: none;
    }

    .ymtitle {
        height: 0;
        overflow: hidden;
        transition: height 2s;
        -moz-transition: height 2s;
        -webkit-transition: height 2s;
        -o-transition: height 2s;
    }

    .sidbarnav:hover .ymtitle {
        height: 100%;
    }

    .links {
        margin-bottom: -30px;
    }

    .linkpart {
        margin-bottom: 30px;
    }

    .indexabout_text {
        width: 100%;
    }

    .indexabout_img {
        width: 100%;
    }

    .indexcasepart {
        width: 100%;
    }

    .indexcasepart {
        margin-bottom: 15px;
    }

    .indexcase_text h3 {
        margin-top: 0;
        font-size: 16px;
        margin-bottom: 10px;
    }

    .indexcase_text p {
        line-height: 20px;
        margin-bottom: 5px;
        font-size: 12px;
    }

    .indexcase_text {
        padding: 20px;
    }

    .indexnewspart_img {
        width: 100%;
    }

    .indexnewspart_text {
        width: 100%;
    }

    .header_center {
        display: none;
    }

    .header_top {
        display: none;
    }

    .header_bottom {
        background: none !important;
    }

    .navbar-brand {
        display: block;
        padding: 10px 0 !important;
    }

        .navbar-brand img {
            height: 35px;
            width: auto;
        }

    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background: none !important;
    }

    .header_bottom .navbar-default .navbar-nav > li > a {
        margin-right: 0;
        margin-bottom: 3px;
        padding-left: 30px;
    }

    .dropdown-menu li a {
        color: #fff !important;
        padding-left: 45px !important;
        line-height: 30px !important;
    }

    .navbar-toggle {
        margin-right: 0 !important;
    }
}

/**** 首頁 - 公司公告 和 安全生产管理巡视 ***/
.announcement {
    background: #FFF;
}

    .announcement h3 {
        color: #009d8e;
        height: 44px;
        line-height: 44px;
        border-bottom: 1px solid #d4d4d4;
    }

    .announcement ul li {
        padding: 12px 0 16px;
        border-bottom: 1px solid #eee;
    }

        .announcement ul li .title a {
            font-size: 14px;
            color: #333;
            font-weight: bold;
            line-height: 32px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 500px;
            display: inline-block;
        }

        .announcement ul li .info {
            font-size: 14px;
            color: #777;
            line-height: 20px;
        }

    .announcement .more {
        text-align: right;
        margin-top: 20px;
    }

        .announcement .more a {
            font-size: 14px;
            color: #009d8e;
        }



.m-t-20 {
    margin-top: 20px;
}

.m-t-40 {
    margin-top: 40px;
}

/*** vue ***/
[v-cloak] {
    display: none
}

/*** 首頁 - 报刊阅览 ***/
.sliderbox2 {
    height: 166px;
    overflow: hidden;
    margin: 6px 0 0 0;
}

    .sliderbox2 .arrow-btn2 {
        margin-top: 38px;
        width: 38px;
        height: 76px;
        background: url(/images/arrow-btn.png) no-repeat;
        cursor: pointer;
    }

    .sliderbox2 #btn-left2 {
        float: left;
        background-position: 0 0;
    }

        .sliderbox2 #btn-left2.dasabled {
            background-position: 0 -76px;
        }

    .sliderbox2 #btn-right2 {
        float: right;
        background-position: -38px 0;
    }

        .sliderbox2 #btn-right2.dasabled {
            background-position: -38px -76px;
        }

    .sliderbox2 .slider2 {
        float: left;
        height: 150px;
        width: 1058px;
        position: relative;
        overflow: hidden;
        margin: 0 0 0 16px;
        display: inline;
    }

        .sliderbox2 .slider2 ul {
            position: absolute;
            left: 0;
            width: 999em;
        }

        .sliderbox2 .slider2 li {
            float: left;
            width: 256px;
            height: 150px;
            margin-right: 12px;
            text-align: center;
        }

            .sliderbox2 .slider2 li .label_new {
                width: 55px;
                height: 50px;
                background: url('/images/new.png') no-repeat left top;
                background-size: 50px 50px;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 10px 0 0 0;
                display: none;
            }

            .sliderbox2 .slider2 li img {
                width: 256px;
                height: 150px;
                border-radius: 10px;
            }

            .sliderbox2 .slider2 li.current img {
                border: solid 1px #3366cc;
            }


/**** head.html中移入 ***/
/*.indexabout a{
    background: #009d8e;
}
.productpart{
    background: #009d8e;
}

.productpart .nav-tabs>li.active>a, .productpart .nav-tabs>li.active>a:focus, .productpart .nav-tabs>li.active>a:hover{
    color: #009d8e !important;
}

.productpart #myTab li a:hover{
    color: #009d8e;
}*/





#sideMenu {
    color: #009d8e;
}

.mxphonenav {
    background: #009d8e;
}

.tzggtit {
    background: #009d8e;
}

.toptab a:hover {
    color: #009d8e;
}

.youshilistpart:hover .yslistpartimg {
    background: #009d8e !important;
}

.tzggtit span {
    color: #009d8e;
}
/*.ymtitle .current_page_item a,.ymtitle .current-cat a, .sidbarcontact a:hover{
    color: #009d8e !important;
    border:none;
    font-weight: bold;
}*/
.sidbarcontact a:hover {
    color: #009d8e !important;
    border: none;
    font-weight: bold;
}

.ymtitle .current_page_item a, .ymtitle .current-cat a, .ymtitle a:hover {
    color: #FFF !important;
    background: #009d8e;
    font-weight: normal;
}

.proxiangqing {
    color: #009d8e;
}

.showpage a:hover {
    background: #009d8e;
    color: #fff;
    border-color: #009d8e
}

#showsum span.sel {
    border: 1px solid #009d8e;
}

.sb-search-input {
    color: #009d8e !important;
}

#showsum1 span.sel {
    border: 1px solid #009d8e;
}

.sb-search-input {
    color: #009d8e !important;
}

.xgpro {
    color: #009d8e !important;
}

.downloadlistpart a:hover {
    color: #009d8e !important;
}

.conbottom a {
    color: #009d8e;
}

/*.ymtitle li a:hover {
    color: #009d8e;
    font-weight: bold;
}*/

.bread a {
    color: #009d8e;
}

.page_navi a:hover, .page_navi .current {
    color: #fff;
    background: #009d8e;
    border: 1px solid #009d8e;
}

.lefttime .year {
    color: #009d8e;
}

.newstag a {
    color: #009d8e;
}

#vfb-4 {
    color: #fff;
    background: #009d8e;
    border: 1px solid #009d8e;
}

.recentcomments a {
    display: inline !important;
    padding: 0 !important;
    margin: 0 !important;
}

.content-info {
    text-align: center;
    color: #999;
}
