<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>
        {Stl.SiteName}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel='stylesheet' id='font-awesome-four-css' href='/css/font-awesome.min.css' type='text/css' media='all' />
    <link href="{Stl.SiteUrl}/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="{Stl.SiteUrl}/css/iconfont.css" type="text/css" rel="stylesheet" />
    <link href="{Stl.SiteUrl}/css/common.css" type="text/css" rel="stylesheet" />
    <link href="{Stl.SiteUrl}/css/swiper.min.css" type="text/css" rel="stylesheet" />
    <link rel='stylesheet' id='style-css' href='{stl.siteurl}/css/style.css' type='text/css' media='all' />
    <script type="text/javascript" src="{Stl.SiteUrl}/js/jquery.min.js"></script>
    <script type="text/javascript" src="{Stl.SiteUrl}/js/swiper.min.js"></script>
    <script type="text/javascript" src="{Stl.SiteUrl}/js/js.js"></script>
</head>
<body class="home blog">
    <!--Logo+导航+搜索-->
    <stl:include file="/include/header.html"></stl:include>
    <div class="clearfix"></div>

    <!--头部重要内容信息-->
    <div>
        <div class="container">
            <!--宣传大图 -->
            <div class="row" style="padding-top:20px;">
                <stl:contents channelIndex="首页宣传大图" totalNum="1" isRecommend="true">
                    <stl:if type="linkUrl" op="Empty">
                        <stl:yes>
                            <stl:if type="content" op="Empty">
                                <stl:yes>
                                    <a href="javascript:;"><img src="{Content.ImageUrl}" width="1170"></a>
                                </stl:yes>
                                <stl:no>
                                    <stl:a><img src="{Content.ImageUrl}" width="1170"></stl:a>
                                </stl:no>
                            </stl:if>
                        </stl:yes>
                        <stl:no>
                            <stl:a target="_blank"><img src="{Content.ImageUrl}" width="1170"></stl:a>
                        </stl:no>
                    </stl:if>
                </stl:contents>
            </div>

            <!--头条聚焦-->
            <div class="row" style="padding-top: 20px;margin-bottom: -20px;">
                <div class="col-sm-12 col-md-6 col-lg-6 pic-left">
                    <stl:contents channelIndex="头条新闻" isRecommend="true" totalNum="1">
                        <img src="{Content.ImageUrl}" width="575" height="383" onClick="window.location.href='{Content.NavigationUrl}'" alt="{Content.Title}" />
                        <div class="pic-left_title"><stl:content type="title" wordNum="28" ellipsis="..."></stl:content></div>
                    </stl:contents>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 pic-mid">
                    <ul>
                        <stl:contents channelIndex="头条新闻" totalNum="2" isRecommend="true" startNum="2">
                            <li>
                                <stl:a>
                                    <stl:if type="ImageUrl" op="NotEmpty">
                                        <stl:yes>
                                            <img src="{Content.ImageUrl}" alt="{Content.Title}" />
                                        </stl:yes>
                                        <stl:no>
                                            <img src="/images/thumbnail.png" alt="{Content.Title}" />
                                        </stl:no>
                                    </stl:if>
                                    <div class="pic-title2">
                                        <stl:content type="Title" wordNum="16" ellipsis="..."></stl:content>
                                    </div>
                                </stl:a>
                            </li>
                        </stl:contents>
                    </ul>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 pic-right">
                    <ul>
                        <stl:contents channelIndex="头条新闻" totalNum="2" startNum="4" isRecommend="true">
                            <li>
                                <stl:a>
                                    <stl:if type="ImageUrl" op="NotEmpty">
                                        <stl:yes>
                                            <img src="{Content.ImageUrl}" alt="{Content.Title}" />
                                        </stl:yes>
                                        <stl:no>
                                            <img src="/images/thumbnail.png" alt="{Content.Title}" />
                                        </stl:no>
                                    </stl:if>
                                    <div class="pic-title2">
                                        <stl:content type="Title" wordNum="16" ellipsis="..."></stl:content>
                                    </div>
                                </stl:a>
                            </li>
                        </stl:contents>
                    </ul>
                </div>
            </div>

            <!--通知公告-->
            <div class="marquee_wrap">
                <div class="marquee_title">通知公告：</div>
                <marquee onmouseout="this.start()" onmouseover="this.stop()">
                    <stl:contents channelIndex="通知公告" totalNum="8">
                        <stl:a><stl:content type="title"></stl:content> <stl:content type="AddDate" formatString="yyyy-MM-dd"></stl:content></stl:a>
                    </stl:contents>
                </marquee>
                <stl:a channelIndex="通知公告" class="more">查看更多&gt;&gt;</stl:a>
            </div>

            <!--头条新闻-->
            <div class="headline_warp">
                <div class="la-title">
                    <h3>头条新闻</h3>
                </div>
                <div class="row m-t-20">
                    <div class="col-md-5">
                        <stl:contents channelIndex="头条新闻" isTop="true" totalNum="1">
                            <stl:a><img src="{Content.imageUrl}" class="head_img" /></stl:a>
                        </stl:contents>
                    </div>
                    <div class="col-md-3">
                        <stl:contents channelIndex="头条新闻" isTop="true" totalNum="1">
                            <stl:a class="head_title"><stl:content wordNum="20" ellipsis="..."></stl:content></stl:a>
                            <div class="head_summary"><stl:content type="summary" wordNum="130" ellipsis="..."></stl:content></div>
                        </stl:contents>
                    </div>

                    <div class="col-md-4">
                        <div class="head_list">
                            <stl:contents channelIndex="头条新闻" totalNum="5">
                                <stl:a class="head_list_title"><stl:content wordNum="19" ellipsis="..."></stl:content></stl:a>
                                <div class="head_list_info">
                                    <i class="fa fa-calendar"></i> <stl:content type="AddDate" formatString="yyyy-MM-dd"></stl:content>&emsp;&emsp;
                                    <stl:if type="source" op="NotEmpty">
                                        <stl:yes>
                                            <i class="fa fa-group"></i> <stl:content type="source"></stl:content>
                                        </stl:yes>
                                    </stl:if>
                                    <stl:if type="tags" op="NotEmpty">
                                        <stl:yes>
                                            <i class="fa fa-tags"></i> <stl:content type="tags"></stl:content>
                                        </stl:yes>
                                    </stl:if>
                                </div>
                            </stl:contents>
                            <stl:a channelIndex="头条新闻" class="head_list_more">更多……</stl:a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--主要内容 -->
    <div>
        <div class="container">
            <div class="row">
                <!--左侧内容-->
                <div class="col-sm-12 col-md-8 col-lg-8 cont-left">
                    <!--新思想/公司要闻(左侧主要内容) -->
                    <div class="news_tab">
                        <div class="news_tab_item active">新思想</div>
                        <div class="news_tab_item">公司要闻</div>
                    </div>

                    <div class="news_contents">
                        <div class="news_content active">
                            <ul class="news_list">
                                <stl:contents channelIndex="新思想" totalNum="3">
                                    <li>
                                        <div class="image_wrap"><img src="{Content.imageUrl}" /></div>
                                        <div class="content_wrap" style="right:initial">
                                            <stl:a class="news_list_title"><stl:content wordNum="20" ellipsis="..."></stl:content></stl:a>
                                            <div class="news_list_info">
                                                <i class="fa fa-calendar"></i> <stl:content type="AddDate" formatString="yyyy-MM-dd"></stl:content>&emsp;&emsp;
                                                <stl:if type="source" op="NotEmpty">
                                                    <stl:yes>
                                                        <i class="fa fa-group"></i> <stl:content type="source"></stl:content>&emsp;&emsp;
                                                    </stl:yes>
                                                </stl:if>
                                                <stl:if type="tags" op="NotEmpty">
                                                    <stl:yes>
                                                        <i class="fa fa-tags"></i> <stl:content type="tags"></stl:content>
                                                    </stl:yes>
                                                </stl:if>
                                            </div>
                                            <div class="news_list_summary">
                                                <stl:content type="summary" wordNum="130" ellipsis="..."></stl:content>
                                            </div>
                                        </div>
                                    </li>
                                </stl:contents>
                            </ul>
                            <stl:a channelIndex="新思想" class="news_list_more">更多……</stl:a>
                        </div>
                        <div class="news_content">
                            <ul class="news_list">
                                <stl:contents channelIndex="公司要闻" totalNum="3">
                                    <li>
                                        <div class="image_wrap"><img src="{Content.imageUrl}" /></div>
                                        <div class="content_wrap" style="right:initial">
                                            <stl:a class="news_list_title"><stl:content wordNum="20" ellipsis="..."></stl:content></stl:a>
                                            <div class="news_list_info">
                                                <i class="fa fa-calendar"></i> <stl:content type="AddDate" formatString="yyyy-MM-dd"></stl:content>&emsp;&emsp;
                                                <stl:if type="source" op="NotEmpty">
                                                    <stl:yes>
                                                        <i class="fa fa-group"></i> <stl:content type="source"></stl:content>&emsp;&emsp;
                                                    </stl:yes>
                                                </stl:if>
                                                <stl:if type="tags" op="NotEmpty">
                                                    <stl:yes>
                                                        <i class="fa fa-tags"></i> <stl:content type="tags"></stl:content>
                                                    </stl:yes>
                                                </stl:if>
                                            </div>
                                            <div class="news_list_summary">
                                                <stl:content type="summary" wordNum="130" ellipsis="..."></stl:content>
                                            </div>
                                        </div>
                                    </li>
                                </stl:contents>
                            </ul>
                            <stl:a channelIndex="公司要闻" class="news_list_more">更多……</stl:a>
                        </div>
                    </div>

                    <!--左侧栏目 -->
                    <div id="vm_left_channels" v-cloak>
                        <div v-for="(ccc,index) in leftChannels">
                            <div class="news_tab">
                                <div class="news_tab_item" :class="{active: cc.active}" v-for="(cc,idx) in ccc" @click="changeTab(index, idx)">{{cc.channelName}}</div>
                            </div>
                            <div class="news_contents">
                                <div class="news_content" :class="{active: cc.active}" v-for="(cc,idx) in ccc">
                                    <div class="news_list2">
                                        <div v-for="c in cc.contents">
                                            <a :href="c.navigationUrl" class="list_title" :title="c.title">{{c.title}}</a>
                                            <div class="list_info">
                                                <i class="fa fa-calendar"></i> {{c.addDate}}&emsp;&emsp;
                                                <span v-if="c.source"><i class="fa fa-group"></i> {{c.source}}&emsp;&emsp;</span>
                                                <span v-if="c.tags"><i class="fa fa-tags"></i> {{c.tags}}</span>
                                            </div>
                                        </div>
                                        <a :href="cc.navigationUrl" class="list_more">更多……</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--右侧边栏-->
                <div class="wrap-right pull-right" style="width:30%; padding-top:30px;">
                    <stl:channels groupChannel="右侧边栏">
                        <div class="sidebar">
                            <div class="sidebar_title"><stl:channel></stl:channel></div>
                            <div class="sidebar_list">
                                <stl:contents channelIndex="{Channel.title}" isRecommend="true">
                                    <stl:a title="{Content.title}"><stl:content type="title" wordNum="20" ellipsis="..."></stl:content></stl:a>
                                </stl:contents>
                            </div>
                            <stl:a channelIndex="{Channel.title}" class="sidebar_list_more">更多……</stl:a>
                        </div>
                    </stl:channels>
                </div>
            </div>
        </div>
    </div>

    <!--职工风采-->
    <div>
        <div class="container">
            <div class="la-title">
                <h3>职工风采</h3>
            </div>
            <div style="padding: 45px 0;">
                <div class="row">
                    <div class="sliderbox2">
                        <div id="btn-left2" class="arrow-btn2 dasabled"></div>
                        <div class="slider2" id="thumbnail2">
                            <ul>
                                <stl:contents channelIndex="职工风采" isRecommend="true" totalNum="20">
                                    <li style="position:relative">
                                        <a class="light_box_images" href="{Content.imageUrl}" data-lightbox="image-1" data-title="职工风采">
                                            <span style="background-image:url('{Content.imageUrl}')" class="light_box_item">
                                            </span>
                                        </a>
                                    </li>
                                </stl:contents>
                            </ul>
                        </div>
                        <div id="btn-right2" class="arrow-btn2"></div>
                    </div>
                </div>

                <script>
                    var sliderSize2 = 4;

    var $slider2 = $('.slider2 ul');
    var $slider_child_l2 = $('.slider2 ul li').length;
    var $slider_width2 = $('.slider2 ul li').width() + 12;
    $slider2.width($slider_child_l2 * $slider_width2);

    var slider_count2 = 0;

    if ($slider_child_l2 < sliderSize2) {
        $('#btn-right2').css({
            cursor: 'auto'
        });
        $('#btn-right2').removeClass("dasabled");
    }

    $('#btn-right2').click(function () {
        if ($slider_child_l2 < sliderSize2 || slider_count2 >= $slider_child_l2 - sliderSize2) {
            return false;
        }

        slider_count2++;
        $slider2.animate({
            left: '-=' + $slider_width2 + 'px'
        }, 'fast');
        slider_pic2();
    });

    $('#btn-left2').click(function () {
        if (slider_count2 <= 0) {
            return false;
        }
        slider_count2--;
        $slider2.animate({
            left: '+=' + $slider_width2 + 'px'
        }, 'fast');
        slider_pic2();
    });

    function slider_pic2() {
        if (slider_count2 >= $slider_child_l2 - sliderSize2) {
            $('#btn-right2').css({
                cursor: 'auto'
            });
            $('#btn-right2').addClass("dasabled");
        } else if (slider_count2 > 0 && slider_count2 <= $slider_child_l2 - sliderSize2) {
            $('#btn-left2').css({
                cursor: 'pointer'
            });
            $('#btn-left2').removeClass("dasabled");
            $('#btn-right2').css({
                cursor: 'pointer'
            });
            $('#btn-right2').removeClass("dasabled");
        } else if (slider_count2 <= 0) {
            $('#btn-left2').css({
                cursor: 'auto'
            });
            $('#btn-left2').addClass("dasabled");
        }
    }
                </script>

                <style>
                    .light_box_item {
                        width: 300px;
                        display: inline-block;
                        height: 200px;
                        width: 250px;
                        overflow: hidden;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }

                    .light_box_images {
                        width: 100%;
                        height: 100%;
                    }
                </style>
                <link href="../css/lightbox.min.css" rel="stylesheet" />
                <script src="../js/lightbox.min.js"></script>
                <script>
                    $(function () {
                        $(".light_box_images").each(function () {
                            var oldhref = $(this).attr("href");
                            var obj = oldhref.lastIndexOf("/");
                            var path = oldhref.substr(0, obj);
                            var t_name = oldhref.substr(obj + 1);
                            var name = t_name.substr(2, t_name.length - 2);
                            $(this).attr("href", path + "/" + name);
                        });

                        lightbox.option({
                            'resizeDuration': 200,
                            'wrapAround': true,
                            'albumLabel': '"第 %1 张,共 %2 张"',
                            'wrapAround': true
                        })
                    })
                </script>
            </div>
        </div>
    </div>

    <!--信息员天地-->
    <div class="publish_info" id="vm_publish_info" v-cloak>
        <div class="container">
            <div class="la-title">
                <h3>信息员天地</h3>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6 chart_warp">
                    <div class="title">{{currentYear}}.{{currentMonth}}信息员发稿量Top6</div>
                    <div  style="margin: 40px auto; height: 283px; border:1px solid #ddd;" id="publish_chart_author">
                        <div class="noData">暂无数据</div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 chart_warp">
                    <div class="title">{{currentYear}}.{{currentMonth}}部门发稿量Top6</div>
                    <div style="margin: 40px auto; height: 283px; border:1px solid #ddd;" id="publish_chart_department">
                        <div class="noData">暂无数据</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--底部 -->
    <stl:include file="/include/footer.html"></stl:include>
    <script src="{Stl.SiteUrl}/js/glodil.js" type="text/javascript"></script>
    <script src="{Stl.SiteUrl}/js/jquery-ias.min.js" type="text/javascript"></script>
    <script src="/js/echarts.min.js"></script>

    <script type="text/javascript">
        $(function () {
            //新思想|公司要闻 tab切换
            $('.news_tab_item').click(function () {
                var news_tabs = $(this).parent(".news_tab").eq(0);
                var news_contents = $(this).parent(".news_tab").eq(0).next(".news_contents")
                var index = news_tabs.find('.news_tab_item').index($(this));
                news_tabs.find(".news_tab_item.active").removeClass("active");
                news_tabs.find(".news_tab_item").eq(index).addClass("active");
                news_contents.find(".news_content.active").removeClass("active");
                news_contents.find(".news_content").eq(index).addClass("active");
            });

            //左侧次要栏目数据请求
            vm = new Vue({
                el: "#vm_left_channels",
                data: {
                    leftChannels: [],  //左侧栏目
                    leftChannelContents: [],  //左侧栏目内容
                },
                methods: {
                    //获取栏目 
                    getLeftChannels: function () {
                        var self = this;
                        $.ajax({
                            url: encodeURI('/api/v1/stl/channels?siteId=' + global.newsSiteId + '&apiKey=' + global.apikey + '&groupChannel=左侧栏目'),
                            type: 'get',
                            success: function (response) {
                                var grounpCount = Math.ceil(response.value.length / 5);
                                var tempArray = [];
                                for (var i = 0; i < grounpCount; i++) {
                                    var tempArray = [];
                                    for (var j = 0; j < 5; j++) {
                                        var c = i * 5 + j;
                                        if (c < response.value.length) {
                                            var tempObj = {
                                                id: response.value[c].id,
                                                channelName: response.value[c].channelName,
                                                navigationUrl: response.value[c].navigationUrl,
                                                contents: []
                                            }
                                            if (j == 0) {
                                                tempObj.active = true;
                                            }
                                            else {
                                                tempObj.active = false;
                                            }
                                            tempArray.push(tempObj);

                                            self.getLeftChannelContents(tempObj.id);
                                        }
                                    }
                                    self.leftChannels.push(tempArray);
                                    
                                }
                            }
                        })
                    },

                    //获取内容
                    getLeftChannelContents: function (channelId) {
                        var self = this;
                        $.ajax({
                            url: '/api/v1/stl/contents?siteId=' + global.newsSiteId + '&apiKey=' + global.apikey + '&channelId='+channelId+"&totalNum=5",
                            type: 'get',
                            success: function (response) {
                                for (var i = 0; i < self.leftChannels.length; i++) {
                                    for (var j = 0; j < self.leftChannels[i].length; j++) {
                                        if (self.leftChannels[i][j].id == channelId) {
                                            self.leftChannels[i][j].contents = response.value;
                                        }
                                    }
                                }
                            }
                        })
                    },

                    //tab切换
                    changeTab: function (bundleIndex, tabIndex) {
                        this.leftChannels[bundleIndex].forEach(function (node, index) {
                            node.active = false;
                        });
                        this.leftChannels[bundleIndex][tabIndex].active = true;
                    }
                },
                created: function () {
                    //左侧栏目及内容数据请求
                    this.getLeftChannels();
                }
            });

            //信息员天地数据请求
            vm = new Vue({
                el: "#vm_publish_info",
                data: {
                    currentYear: null,  //客户端当前年份
                    currentMonth: null, //客户端当前月份
                    authorTop6: [],     //信息员Top6
                    departmentTop6: []  //部门发稿量Top6
                },
                methods: {
                    //信息员天地数据请求 - 按信息员
                    getPublishInfoByAuthor: function (startTime) {
                        var self = this;
                        $.ajax({
                            url: '/api/aibol/GetAuthorTop6?siteId=' + global.newsSiteId + "&startTime=" + startTime,
                            type: 'get',
                            success: function (response) {
                                if (response) {
                                    self.authorTop6 = response;
                                    if (response.length > 0) {
                                        var xAxis = [];
                                        var series = [];
                                        response.forEach(function (node, index) {
                                            var start = node.author.indexOf("(");
                                            node.author = node.author.substring(0, start);
                                            xAxis.push(node.author);
                                            series.push(node.count);
                                        })

                                        //图表初始化
                                        var chart_author = echarts.init(document.getElementById('publish_chart_author'));

                                        // 指定图表的配置项和数据
                                        var optionChartAuthor = {
                                            color: ['#ed7d31'],
                                            //title: {
                                            //    text: ''
                                            //},
                                            tooltip: {},
                                            //legend: {
                                            //    data: ['发稿量']
                                            //},
                                            xAxis: {
                                                data: xAxis,
                                                axisLabel: {
                                                    interval: 0,
                                                    //rotate: 45
                                                }
                                            },
                                            yAxis: {
                                            },
                                            series: [{
                                                name: '发稿量',
                                                type: 'bar',
                                                barCategoryGap: '50%',
                                                data: series
                                            }]
                                        };
                                        //使用配置项和数据显示图表。
                                        chart_author.setOption(optionChartAuthor);
                                    }
                                }
                            }
                        })
                    },

                    //信息员天地数据请求 - 按部门
                    getPublishInfoByDepartment: function (startTime) {
                        var self = this;
                        $.ajax({
                            url: '/api/aibol/GetDepartmentTop6?siteId=' + global.newsSiteId + "&startTime=" + startTime,
                            type: 'get',
                            success: function (response) {
                                if (response) {
                                    self.departmentTop6 = response;
                                    if (response.length > 0) {
                                        var xAxis = [];
                                        var series = [];
                                        response.forEach(function (node, index) {
                                            xAxis.push(node.department);
                                            series.push(node.count)
                                        })

                                        //图表初始化
                                        var chart_department = echarts.init(document.getElementById('publish_chart_department'));

                                        // 指定图表的配置项和数据
                                        var optionChartDepartment = {
                                            color: ['#70ad47'],
                                            //title: {
                                            //    text: '',
                                            //},
                                            tooltip: {},
                                            //legend: {
                                            //    data: ['发稿量']
                                            //},
                                            xAxis: {
                                                data: xAxis,
                                                axisLabel: {
                                                    interval: 0,
                                                    rotate: 45
                                                }
                                            },
                                            yAxis: {},
                                            series: [{
                                                name: '发稿量',
                                                type: 'bar',
                                                barCategoryGap: '50%',
                                                data: series
                                            }]
                                        };
                                        //使用配置项和数据显示图表。
                                        chart_department.setOption(optionChartDepartment);
                                    }
                                }
                            }
                        })
                    },

                    //获取当前月份
                    getStartTime: function () {
                        var _today = new Date();
                        var yyyy = _today.getFullYear();
                        var MM = _today.getMonth() + 1;
                        var dd = _today.getDate();
                        MM = MM < 10 ? ('0' + MM) : MM;
                        var today = yyyy + "-" + MM + '-01';

                        this.currentYear = yyyy,    //客户端当前年份
                        this.currentMonth = MM,     //客户端当前月份

                        //请求信息员天地数据
                        this.getPublishInfoByAuthor(today);
                        this.getPublishInfoByDepartment(today);
                    }
                },
                created: function () {
                    var self = this;

                    //待办任务(外部接口)
                    this.getStartTime();
                }
            })
        })
    </script>
</body>
</html>
