<!DOCTYPE html>
<html lang="zh-CN">
<stl:include file="/include/head.html"></stl:include>
<body>
    <stl:include file="/include/header.html"></stl:include>
    <div class="clearfix"></div>
    <div class="maincon">
        <stl:include file="/include/banner.html"></stl:include>
        <div class="container neicon">
            <div class="row">
                <stl:include file="/include/left.html"></stl:include>
                <div class="col-md-9">
                    <div class="listcon">
                        <stl:include file="/include/location.html"></stl:include>
                        <stl:pageContents pageNum="10" order="AddDate" where="addDate > dateadd(year, -1, getdate())">
                            <div class="download">
                                <div class="downloadlistpart">
                                    <h1>
                                        <stl:a>
                                            <stl:content type="Title" wordNum="40" ellipsis="..."></stl:content>
                                        </stl:a>
                                        <span class="label_new">NEW</span>
                                        <stl:if type="IsHot" op="Equals" value="true"> <i class="fa fa-fire"></i></stl:if>
                                        <a class="download" href="{Content.fileUrl}" download="{Content.fileUrl}"><icon class="fa fa-download"></icon> 下载</a>
                                    </h1>
                                    <div class="downloadtime">
                                        来源: <stl:content type="source"></stl:content>&emsp;
                                        作者: <stl:content type="author"></stl:content>&emsp;
                                        阅读次数: <stl:content type="hits"></stl:content>&emsp;
                                        发布时间: <span class="js_addDate"><stl:content type="AddDate" formatString="yyyy-MM-dd"></stl:content></span><!--发布时间-->
                                    </div>
                                </div>
                            </div>
                        </stl:pageContents>
                        <div class="page_navi text-center">
                            <stl:pageItems autoHide="true">
                                <stl:pageItem type="PreviousPage">
                                    <stl:yes>
                                        <a href="{Current.Url}" class="prev">« 上一页</a>
                                    </stl:yes>
                                    <stl:no>
                                        <a href="javascript:;" class="prev">« 上一页</a>
                                    </stl:no>
                                </stl:pageItem>

                                <stl:pageItem type="PageNavigation" listNum="5">
                                    <stl:yes>
                                        <a href="{Current.Url}">{Current.Num}</a>
                                    </stl:yes>
                                    <stl:no>
                                        <a href="javascript:;" class="current">{Current.Num}</a>
                                    </stl:no>
                                </stl:pageItem>

                                <stl:pageItem type="NextPage">
                                    <stl:yes>
                                        <a href="{Current.Url}" class="next">下一页 »</a>
                                    </stl:yes>
                                    <stl:no>
                                        <a href="javascript:;" class="next">下一页 »</a>
                                    </stl:no>
                                </stl:pageItem>
                            </stl:pageItems>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <stl:include file="/include/footer_black.html"></stl:include>
    <script>
        $(function () {
            //判断是否为当日新添加的文章, 打上new标记
            var _today = new Date();
            var yyyy = _today.getFullYear();
            var MM = _today.getMonth() + 1;
            var dd = _today.getDate();
            MM = MM < 10 ? ('0' + MM) : MM;
            dd = dd < 10 ? ('0' + dd) : dd;
            var today = yyyy + "-" + MM + '-' + dd;

            $(".js_addDate").each(function () {
                if ($(this).text() == today) {
                    $(this).parents(".downloadlistpart").eq(0).find(".label_new").show();
                }
            });
        })
    </script>
</body>
</html>

